<div class="wrapper" (window:resize)="onResize()">
  <div class="row">
    <div class="col-3-of-4">
      <br>
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h1
          class="heading-primary heading-primary--underlined heading-primary--underlined-darkblue"
          [ngClass]="{
            'heading-primary--underlined-left heading-primary--underlined-left-big':
              width >= 900
          }"
        >
          Digital Twin Accelerator
        </h1>

        <p class="paragraph paragraph--big">
          <span class="bold">HUBCAP</span> is an Innovation Action supported by
          the European Union's Horizon 2020 research and innovation programme
          (contract No 872698) and by the Commissioned Research of National
          Institute of Information. The action is delivered by a consortium of
          SMEs, innovation organisations and research institutions committed to
          developing a sustainable network of businesses, Digital Innovation
          Hubs (DIHs) and other actors to encourage suppliers and users of
          Cyber-Physical Systems (CPSs) models and Model- Based Design (MBD)
          tools to meet and collaborate.
        </p>
      </div>
      <figure class="figure">
        <img
          class="modal-button"
          data-target="imageTwo"
          aria-haspopup="true"
          src="../../assets/res/images/hubcap_system.webp"
          default="../../assets/res/images/hubcap_system.png"
          alt="HUBCAP Ecosystem Map"
        />
        <figcaption class="figure__caption">
          Our network of Digital Innovation Hubs
        </figcaption>
      </figure>
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h3 class="heading-tertiary">Digital Twin Demo</h3>
        <p class="paragraph paragraph--big">
          <span class="bold">HUBCAP</span> smth about the demo
          <span class="bold">HUBCAP</span> vision.
        </p>
      </div>
      <section class="open-calls">
        <!-- <h2 class="title is-2">Open Calls</h2> -->
        <swiper class="swiper-calls" [config]="config">
          <div class="slide h-100" *ngFor="let slide of slides; let i = index">
            <!-- <img src="{{ slide.imageURL }}" class="slide__bg" alt="" /> -->
            <img
              src="{{ slide.imageURL }}"
              class="slide__bg"
              default="{{ slide.backupImageURL }}"
              alt="{{ slide.heading }}"
            />
            <div class="slide__content">
              <div class="box">
                <h3 class="heading-tertiary">{{ slide.heading }}</h3>
                <p class="paragraph" *ngFor="let line of slide.lines">
                  {{ line }}
                </p>
              </div>
              <button
                class="button button--mini button--download"
                (click)="applyToCall(i)"
              >
                {{ slide.buttonText }}
              </button>

              <h3
                *ngIf="slide.heading.includes('#1')"
                class="small has-text-centered"
              >
                Applications now closed
              </h3>
              <h3
                *ngIf="slide.heading.includes('#2')"
                class="small has-text-centered"
              >
                Applications now closed
              </h3>
              <h3
                *ngIf="slide.heading.includes('#3')"
                class="small has-text-centered"
              >
                Applications now closed
              </h3>
            </div>
          </div>
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </swiper>
      </section>
    </div>
    <div class="col-1-of-4">
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h3 class="subtitle is-bold subtitle--colored">Highlight 1</h3>
        <p class="paragraph paragraph--big u-margin-bottom-small">
          Our technology... marketing... ideas ... very good and advanced
          <span class="bold">HUBCAP</span> ecosystem and experiment with MBD
          technologies for CPS. Our calls are managed by:
        </p>
        <ul class="list">
          <li class="list__item">F6S Network Limited (F6S), Ireland</li>
        </ul>
      </div>
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h3 class="subtitle is-bold subtitle--bg-green subtitle--colored">
          Highlight 2
        </h3>
        <p class="paragraph paragraph--big u-margin-bottom-small">
          Our six seed SMEs act as the leaders in creating our innovation
          ecosystem:
        </p>
        <ul class="list">
          <li class="list__item">Unparallel Innovation (UNP), Portugal</li>
          <li class="list__item">Controllab Products (CLP), Netherlands</li>
          <li class="list__item">BEIA Consult (BEIA), Romania</li>
          <li class="list__item">
            Verified Systems International (VSI), Germany
          </li>
        </ul>
      </div>
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h3 class="subtitle is-bold subtitle--bg-teal subtitle--colored">
          Highlight 3
        </h3>
        <br />
        <p class="paragraph paragraph--big u-margin-bottom-small">
          The MBD expertise in <span class="bold">HUBCAP</span> includes
          experiences from the Modelica foundation and its support of the
          Functional Mock-up Interface (FMI) standard. This area of our business
          is led by:
        </p>
        <ul class="list">
          <li class="list__item">
            Research Institutes of Sweden AB (RISE), Sweden
          </li>
        </ul>
      </div>
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h2 class="heading-tertiary">Project Coordinator</h2>
        <p class="paragraph paragraph--big u-margin-bottom-small">
          Prof. Peter Gorm Larsen <br />
          Department of Engineering, Aarhus University <br />
          Finlandsgade 22,<br />
          DK-8200 Aarhus N <br />
          Denmark
        </p>
        <p class="paragraph paragraph--big">
          Email: <a href="mailto:pgl@eng.au.dk">pgl@eng.au.dk</a>
        </p>
      </div>
      <!-- <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h2 class="subtitle">Public Deliverables</h2>
        <h2 class="subtitle subtitle--small subtitle--bold u-is-black-color">
          M2
        </h2>
        <ul class="list list--no-dec">
          <li class="list__item list__item--no-dec">
            <a href="../../assets/res/files/D7.1.pdf" download>
              D7.1 HUBCAP Visual Identity and Templates
            </a>
          </li>
        </ul>
        <h2 class="subtitle subtitle--small subtitle--bold u-is-black-color">
          M6
        </h2>
        <ul class="list list--no-dec">
          <li class="list__item list__item--no-dec">
            <a
              href="../../assets/res/files/D 4.2 Open Call Documentation KIT.pdf"
              download
            >
              D4.2 Open Call Documents KIT
            </a>
          </li>
          <li class="list__item list__item--no-dec">
            <a
              href="../../assets/res/files/D5.1 HUBCAP Collaboration Platform Prototype_SUB.pdf"
              download
            >
              D5.1 HUBCAP Collaboration Platform Prototype
            </a>
          </li>
          <li class="list__item list__item--no-dec">
            <a href="../../assets/res/files/HUBCAP_D6.1.pdf" download>
              D6.1 The Initial HUBCAP Models
            </a>
          </li>
        </ul>
        <h2 class="subtitle subtitle--small subtitle--bold u-is-black-color">
          M9
        </h2>
        <ul class="list list--no-dec">
          <li class="list__item list__item--no-dec">
            <a
              href="../../assets/res/files/D6.2 - The Initial HUBCAP Model-Based Services.pdf"
              download
            >
              D6.2 The Initial HUBCAP Model-Based Services
            </a>
          </li>
        </ul>
      </div> -->
    </div>
  </div>

  <div class="modal" id="imageTwo">
    <div class="modal-background"></div>
    <div class="modal-content">
      <figure class="figure">
        <img
          src="../../assets/res/images/hubcap_system.png"
          alt="HUBCAP Ecosystem Map"
        />
        <figcaption class="figure__caption">
          Our network of Digital Innovation Hubs
        </figcaption>
      </figure>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</div>
