<div
  class="success-story"
  [ngStyle]="{ 'margin-bottom': story.sections.length <= 2 ? '7rem' : 0 }"
>
  <h1
    class="
      success-story__title
      heading-primary
      heading-primary--underlined
      heading-primary--underlined-green
    "
  >
    {{ story.title }}
  </h1>

  <div class="success-story__top-right">
    <div class="success-story__info-box success-story__infobordercolor">
      <p class="success-story__info-box__line">
        <b class="u-is-bold"
          >End User<span *ngIf="story.info.endUsers.length > 1">s</span>:
        </b>
        <span *ngFor="let user of story.info.endUsers; let i = index">
          <a
            href="{{ user.website }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ user.name }}</a
          >
          <span
            *ngIf="
              story.info.endUsers.length > 1 &&
              i !== story.info.endUsers.length - 1
            "
            >,
          </span>
        </span>
      </p>
      <p class="success-story__info-box__line">
        <b class="u-is-bold"
          >Technology Provider<span *ngIf="story.info.techProviders.length > 1"
            >s</span
          >:
        </b>
        <span *ngFor="let provider of story.info.techProviders; let i = index">
          <a
            href="{{ provider.website }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ provider.name }}</a
          ><span
            *ngIf="
              story.info.techProviders.length > 1 &&
              i !== story.info.techProviders.length - 1
            "
            >,<br />
          </span>
        </span>
      </p>
      <p class="success-story__info-box__line">
        <b class="u-is-bold">DIH: </b
        ><a
          href="{{ story.info.dih.website }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{ story.info.dih.name }}
        </a>
      </p>
      <p class="success-story__info-box__line">
        <b class="u-is-bold">Domains: </b
        ><span *ngFor="let domain of story.info.domains; let i = index">
        {{ domain }}<span
        *ngIf="
          story.info.domains.length > 1 &&
          i !== story.info.domains.length - 1
        "
        >;
      </span></span>
      </p>
      <div *ngIf="story.tryItNowUrl">
      <hr/>
      <p class="success-story__info-box__line">
        <b class="u-is-bold">See it on the HUBCAP Platform: </b>
      </p>
      <div style="display: flex; justify-content: center;">
      <button class="button button--download" (click)="tryItNow()">
        GO TO PLATFORM
      </button>
      </div>
    </div>
    </div>
  </div>

  <!-- <div class="success-story__sections"> -->
  <div
    class="success-story__section"
    *ngFor="let section of story.sections.slice(0, 1)"
  >
    <h3 class="heading-tertiary success-story__section__heading">
      {{ section.sectionHeading }}
    </h3>
    <p
      class="paragraph paragraph--big u-margin-bottom-small"
      *ngFor="let paragraph of section.paragraphs"
    >
      {{ paragraph }}
    </p>
  </div>

  <blockquote class="success-story__pullquote success-story__quotecolor">
    <p>{{ story.quote }}</p>
    <footer><cite>{{ story.quoteAttribution }}</cite></footer>
  </blockquote>

  <div class="success-story__top-right">
    <div class="success-story__info-box success-story__impactbordercolor">
      <p class="success-story__info-box__line"
      ><b class="u-is-bold">Impact: </b
      ></p>
      <ul class="success-story__info-box__line">
        <span *ngFor="let impact of story.info.impact; let i = index"><li>{{ impact}}</li
        ></span
      ></ul>    
    </div>
  </div>

  <div
    class="success-story__section"
    *ngFor="let section of story.sections.slice(1, 2)"
  >
    <h3 class="heading-tertiary success-story__section__heading">
      {{ section.sectionHeading }}
    </h3>
    <p
      class="paragraph paragraph--big u-margin-bottom-small"
      *ngFor="let paragraph of section.paragraphs"
    >
      {{ paragraph }}
    </p>
  </div>  

  <div class="success-story__image-box">
    <img
      class="modal-button success-story__image"
      alt="{{ story.title }}"
      src="{{ story.image }}"
      (click)="openModal(story)"
      attr.data-target="{{ story.title }}"
      aria-haspopup="true"
    />
  </div>

  <div
    class="success-story__section"
    *ngFor="let section of story.sections.slice(2, story.sections.length)"
  >
    <h3 class="heading-tertiary success-story__section__heading">
      {{ section.sectionHeading }}
    </h3>
    <p
      class="paragraph paragraph--big u-margin-bottom-small"
      *ngFor="let paragraph of section.paragraphs"
    >
      {{ paragraph }}
    </p>
  </div>

  <div *ngIf="story.videoUrl" class="success-story__video">
  <iframe width="784" height="441" [src]="story.videoUrl | safe: 'resourceUrl'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <!-- </div> -->
</div>

<div class="modal" id="{{ story.title }}">
  <div class="modal-background" (click)="closeModal(story)"></div>
  <div class="modal-content">
    <figure class="figure">
      <img src="{{ story.image }}" alt="{{ story.title }}" />
    </figure>
  </div>
  <button
    class="modal-close is-large"
    (click)="closeModal(story)"
    aria-label="close"
  ></button>
</div>
