<section class="faq" (window:resize)="onResize()">
  <div class="u-center-text u-margin-bottom-small" *ngIf="width <= 1400">
    <h1
      class="
        heading-primary
        heading-primary--underlined
        heading-primary--underlined-center
        heading-primary--underlined-green
      "
    >
      FAQ
    </h1>
  </div>
  <div class="u-text-left">
    <h1
      class="
        heading-secondary
        heading-secondary--underlined
        heading-secondary--underlined-left
        heading-secondary--underlined-red
      "
    >
      About the HUBCAP Programme
    </h1>
  </div>

  <mat-accordion class="faq__content">
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> What are CPS?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big">
          <span class="bold">A:</span> Cyber-Physical Systems are systems that
          link the physical world (e.g., through sensors or actuators) with the
          digital world of software systems and communications technology. A CPS
          will often include components from many different providers, so your
          business may already be contributing towards CPSs.
        </p>
        <p class="paragraph paragraph--big">
          There is growing demand for autonomous, secure CPSs that can interact
          with humans while respecting privacy. This creates opportunities for
          SMEs in an ever-wider range of domains, but in order to take them,
          businesses must leverage advances in engineering technology across
          sectors and regions. Model-Based Design (MBD) tools help you represent
          and analyse products digitally before realising them in hardware and
          software, by building digital twins and using simulation for
          collaborative diagnostics and decision making.
        </p>
      </div>
    </mat-expansion-panel>

    <hr class="faq__hr" />

    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> What is Model-Based Design (MBD)
          ?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big u-margin-bottom-none">
          <span class="bold">A: </span> Model-Based Design (MBD) is a method to
          address the design of complex systems with models. It prescribes the
          use of models throughout the development process in order to represent
          system structure and behaviors, providing a basis for machine-assisted
          analysis of system properties, and supporting design decisions through
          processes of refinement into implementation. The purposes it serves
          are:
        </p>
        <ul class="faq__list">
          <li class="faq__list__item">
            1) to reduce the complexity of design by abstraction;
          </li>
          <li class="faq__list__item">
            2) to ensure the quality of the system by rigorous analysis of its
            properties;
          </li>
          <li class="faq__list__item">
            3) to reduce the cost of the development by detecting issues in the
            early phases of the development.
          </li>
        </ul>

        <p class="paragraph paragraph--big">
          Some examples of popular techniques used in MBD include model
          checking, simulation, model-based safety analysis, etc. If your SME
          has utilized any of these during the development process of your asset
          or if you make software tools that allow others to use these
          techniques then you are indeed working with Model-Based Design and are
          eligible to apply for one of our
          <a [routerLink]="['/call/pull']">PULL calls</a>.
        </p>

        <p class="paragraph paragraph--big">
          MBD is quite standard in software engineering and is becoming more and
          more relevant in system engineering, where it must integrate methods
          for control engineering and safety engineering.
        </p>
      </div>
    </mat-expansion-panel>
    <hr class="faq__hr" />
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> Am I eligible for the HUBCAP
          Programme?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big">
          <span class="bold">A: </span> The HUBCAP Programme will fund the
          integration of Single European mid-caps, SMEs and Micro SMEs as
          defined in EU law: EU recommendation 2003/361115. Each of these must
          be established in an EU Member State or in an Associated Country.
        </p>
        <p class="paragraph paragraph--big">
          <span class="bold">Mid-cap:</span> definitions on small and large
          midcaps can be found
          <a
            href="https://www.eif.org/what_we_do/guarantees/single_eu_debt_instrument/innovfin-guarantee-facility/call/innovfin-sme-guarantee-frequently-asked-questions.pdf"
            target="_blank"
            >here</a
          >.
        </p>
        <p class="paragraph paragraph--big">
          <span class="bold">SMEs:</span> read the eligibility criteria
          <a
            href=" https://ec.europa.eu/info/funding-tenders/how-eu-funding-works/who-eligible-funding_en"
            target="_blank"
            >here</a
          >.
        </p>
        <p class="paragraph paragraph--big">
          <span class="bold">EU Member State & Associated Country:</span> read
          the eligibility criteria
          <a
            href="http://ec.europa.eu/research/participants/data/ref/h2020/grants_manual/hi/3cpart/h2020-hi-list-ac_en.pdf"
            target="_blank"
            >here</a
          >.
        </p>
      </div>
    </mat-expansion-panel>
    <hr class="faq__hr" />
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> Where can I apply?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big">
          <span class="bold">A:</span> The F6S platform is the sole entry point
          for all application submissions to the HUBCAP programme. Submissions
          received by any other channel will be automatically discarded.
        </p>
        <p class="paragraph paragraph--big">
          Applicants can find the link to access each Open Call Application Form
          on our <a [routerLink]="['/open-calls']">Open Calls</a> page.
        </p>
      </div>
    </mat-expansion-panel>
    <hr class="faq__hr" />
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> Can an SME participate in all 3 open
          calls #PULL #EXPERIMENT #INNOVATE and is there a total maximum amount
          of grant sum per SME?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big u-margin-bottom-none">
          <span class="bold">A:</span> Yes, the same SME can apply for the 3
          OCs. In fact, Call #2 and Call #3 are specific for consortia. Call #2
          will cooperate with the beneficiaries from the Call #1 and form a
          consortium of 2 SMEs (one SME MBD CPS provider and one SME
          user/adopter). Call #3 will form a consortium of 2-3 SMEs (at least
          one tech provider/integrator and an end-user). The maximum aggregate
          grant value per SME for its participation in HUBCAP calls is €100k.
          Applicants can find more information on our
          <a [routerLink]="['/open-calls']">Open Calls</a> page.
        </p>
      </div>
    </mat-expansion-panel>
    <hr class="faq__hr" />
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> What will HUBCAP collaboration platform
          offer?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big u-margin-bottom-none">
          <span class="bold">A:</span> The HUBCAP platform (based on DIHIWARE)
          will offer a complete collaboration environment, inspired by
          Enterprise Social Software principles, supporting both “Access to” and
          “Collaborate with” services. It will provide companies with access to
          the latest knowledge, expertise, and technology during their Digital
          Transformation paths toward piloting, testing, and experimenting with
          new Model-Based Design technologies for Cyber-Physical Systems. The
          HUBCAP platform includes a sandbox function where MBD tools and models
          are accessible in the cloud, allowing companies to “test before they
          invest” in these digital technologies. More information
          <a [routerLink]="['/platform']">here</a>.
        </p>
      </div>
    </mat-expansion-panel>
    <hr class="faq__hr" />
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> What will an applicant need in order to
          connect it’s asset application with HUBCAP platform?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big">
          <span class="bold">A:</span> The HUBCAP platform works as follows:
          Software Tools (Applications) in the Platform are executed in a
          Sandbox. A Sandbox is a customized Virtual Machine, running an OS (a
          minimal installation of Linux or Windows) and containing a Tool. As a
          Tool Provider, you will need to customise the Virtual Machine and OS
          to run your Tool. This read-to-use Virtual Machine will then be saved
          into the Tools Catalogue. Users can then access the Platform using a
          web browser and select one or more Tools from the Tool Catalogue to
          load into the Sandbox.
        </p>
        <p class="paragraph paragraph--big">
          So, integration primarily involves setting up a VM with any
          installation scripts and dependencies needed to execute your tool.
        </p>
      </div>
    </mat-expansion-panel>
    <hr class="faq__hr" />
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> Once the technology is
          uploaded/developed in HUBCAP, who owns IP rights/patents?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big u-margin-bottom-none">
          <span class="bold">A:</span> All intellectual property rights and
          title to the CPS MBD Technology remains with the Beneficiary or
          applicable third party. The Coordinator and/or relevant HUBCAP
          consortium partner shall be entitled to make public the information
          about the CPS MBD Technology as provided in the Application Form.
        </p>
      </div>
    </mat-expansion-panel>
    <hr class="faq__hr" />
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> I am in the ideation phase and looking
          to bring the idea into a minimum viable product by accessing technical
          resources i.e. data scientists and coders to help me do so. Is this
          program suitable for me?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big">
          <span class="bold">A:</span> The HUBCAP Programme aims to attract and
          engage market - oriented SMEs to introduce their digital technologies
          (products/services) in the project collaboration platform. The
          Technology Readiness Level (TRL) of such digital technologies is
          envisioned between TRL 5 and TRL 9.
        </p>
        <p class="paragraph paragraph--big">
          Please find more information concerning the eligibility criteria
          including the TRL level
          <a
            href="https://www.hubcap.eu/HUBCAP_OC1-1PULL/DocumentationKit-1-1"
            target="_blank"
            >here</a
          >.
        </p>
        <p class="paragraph paragraph--big">
          you can find more information regarding the TRL
          <a
            href="https://ec.europa.eu/research/participants/data/ref/h2020/wp/2014_2015/annexes/h2020-wp1415-annex-g-trl_en.pdf"
            target="_blank"
            >here</a
          >.
        </p>
      </div>
    </mat-expansion-panel>
    <hr class="faq__hr" />
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> I discovered an error in my
          application/proposal – can I submit it again?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big">
          <span class="bold">A:</span> Yes. If you discover an error in your
          proposal you can at any time – provided the call deadline has not
          expired – submit a new version of your proposal in F6S platform for
          the HUBCAP programme. Only the last version received before the call
          deadline will be considered in the evaluation. For this purpose, you
          are required to send an email to
          <a href="mailto:support@f6s.com">support@f6s.com</a> requesting to
          reopen your application. Since this procedure takes some time, we
          recommend making it with time and not in the last days before the
          deadline.
        </p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="u-text-left u-margin-top-big">
    <h1
      class="
        heading-secondary
        heading-secondary--underlined
        heading-secondary--underlined-left
        heading-secondary--underlined-red
      "
    >
      About my application to Call #1 PULL
    </h1>
  </div>
  <mat-accordion class="faq__content">
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> Will it be more open calls for Call #1
          PULL?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big">
          <span class="bold">A:</span> Open calls will be published on the
          project website (www.hubcap.eu) and on the HUBCAP page on
          <a href="https://www.f6s.com/hubcap" target="_blank">F6S</a>.
        </p>
        <p class="paragraph paragraph--big u-margin-bottom-none">
          During 2020-2022, there will be five PULL open calls, with the
          following preliminary opening dates:
        </p>
        <ul class="faq__list">
          <li class="faq__list__item">April 2020</li>
          <li class="faq__list__item">November 2020</li>
          <li class="faq__list__item">April 2021</li>
          <li class="faq__list__item">November 2021</li>
          <li class="faq__list__item">February 2022</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <hr class="faq__hr" />
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> Can I submit several applications in
          Call #1 PULL?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big">
          <span class="bold">A:</span> Each SME may submit only one application
          for each PULL call. If not successful, SMEs are welcome to apply again
          in the subsequent open calls.
        </p>
      </div>
    </mat-expansion-panel>

    <hr class="faq__hr" />
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> Where can I find the Call #1 PULL
          ‘Guidelines for Applicants’?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big">
          <span class="bold">A:</span> you can find the Call #1 PULL -
          Guidelines for Applicants on our
          <a [routerLink]="['/resources']">resources page</a> in the
          Documentation Kit for the particular PULL Call.
        </p>
      </div>
    </mat-expansion-panel>

    <hr class="faq__hr" />
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> Where can I find more information and
          additional assistance related to Call #1 PULL?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big">
          <span class="bold">A:</span> More information can be found on our
          <a [routerLink]="['/calls/pull']">PULL Call page</a> and for
          additional assistance please contact the HUBCAP service center through
          <a href="mailto:info@hubcap.eu">info@hubcap.eu</a>.
        </p>
      </div>
    </mat-expansion-panel>

    <hr class="faq__hr" />
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> How can HUBCAP Call #1 PULL help
          me?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big u-margin-bottom-none">
          <span class="bold">A:</span> SMEs applying to Call #1 PULL will get:
        </p>
        <ul class="faq__list">
          <li class="faq__list__item">
            The opportunity to integrate their MBD CPS products, services and
            technologies within the HUBCAP ecosystem offering
          </li>
          <li class="faq__list__item">
            The chance to reach potential new customers and collaborators and to
            participate in funded HUBCAP experiments and innovations
          </li>
          <li class="faq__list__item">A lump sum of 1000€ (per SME)</li>
          <li class="faq__list__item">
            Access to a sustainable ecosystem of stakeholders active in multiple
            CPS domains (Mobility, Industry, Health, Energy, Environment,
            Robotics, etc.)
          </li>
          <li class="faq__list__item">
            Access to support services and workshops with our DIHs
          </li>
        </ul>
      </div>
    </mat-expansion-panel>

    <hr class="faq__hr" />
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> What are the financial support
          conditions for Call #1 PULL?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big u-margin-bottom-none">
          <span class="bold">A:</span> The Open Call #1 PULL will fund
          individual SMEs with Model-Based Design (MBD) Cyber-Physical System
          (CPS) technology products and services that can be integrated in
          HUBCAP Collaborative Platform. Each beneficiary will receive a total
          fund of 1.000€ (one thousand Euro, lump sum), based on SMEs
          participation in the Workshop and publication of their assets in the
          HUBCAP ecosystem.
        </p>
      </div>
    </mat-expansion-panel>

    <hr class="faq__hr" />
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> Is it mandatory to participate in the
          Call #1 PULL Workshops?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big u-margin-bottom-none">
          <span class="bold">A:</span> To access the lump sum of €1.000,
          individual SMEs participation in the workshop is mandatory.
        </p>
      </div>
    </mat-expansion-panel>

    <hr class="faq__hr" />

    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> What are the different evaluation
          criteria for Call #1 PULL?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big u-margin-bottom-none">
          <span class="bold">A:</span> All applications will be evaluated
          against the following 3 criteria:
        </p>
        <ul class="faq__list">
          <li class="faq__list__item">
            Criterion 1: Concept fit - Business fit to HUBCAP scope and
            relevance to CPS domains
          </li>
          <li class="faq__list__item">
            Criterion 2: Technology - Innovation, asset specification and
            technical capacity of a TRL 5 to 9 and IPR
          </li>
          <li class="faq__list__item">
            Criterion 3: Future use - Benefits of the technology for end users
            and exploitation potential.
          </li>
        </ul>
      </div>
    </mat-expansion-panel>

    <hr class="faq__hr" />
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> I believe there was an error in the
          evaluation of my application. Can I request for a second
          evaluation?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big u-margin-bottom-none">
          <span class="bold">A:</span> Yes, it is possible to request a second
          evaluation. Within 3 working days of the delivery of a rejection
          letter considering the asset application as non-eligible or an ESR, a
          proposer may submit a request for redress if s/he believes the results
          of the eligibility checks have not been correctly applied, or if s/he
          feels that there has been a shortcoming in the way his/her asset
          application has been evaluated that may affect the final decision on
          whether to enter the Call #1 PULL or not. Requests must be
        </p>
        <ul class="faq__list">
          <li class="faq__list__item">
            Related to the evaluation process or eligibility checks.
          </li>
          <li class="faq__list__item">Clearly describe the complaint.</li>
          <li class="faq__list__item">
            Received within the time limit (3 working days) from the reception
            of a rejection letter considering the asset application as
            non-eligible or the ESR information letter delivered
          </li>
          <li class="faq__list__item">
            Sent by the SME legal representative that has also submitted the
            asset application.
          </li>
        </ul>
        <p class="paragraph paragraph--big">
          The committee will review the complaint and will recommend an
          appropriate course of action. If there is clear evidence of a
          shortcoming that could affect the eventual funding decision, it is
          possible that all or part of the asset application will be
          re-evaluated.
        </p>
        <p class="paragraph paragraph--big u-margin-bottom-none">
          Please note:
        </p>
        <ul class="faq__list">
          <li class="faq__list__item">
            This procedure is concerned only with the evaluation and/or
            eligibility checking process. The committee will not call into
            question the scientific or technical judgement of appropriately
            qualified experts.
          </li>
          <li class="faq__list__item">
            A re-evaluation will only be carried out if there is evidence of a
            shortcoming that affects the final decision on whether to fund it or
            not. This means, for example, that a problem relating to one
            evaluation criterion will not lead to a re-evaluation if an asset
            application has failed anyway on other criteria.
          </li>
          <li class="faq__list__item">
            RThe evaluation score following any re-evaluation will be regarded
            as definitive. It may be lower than the original score.
          </li>
        </ul>
        <p class="paragraph paragraph--big">
          Only one request for redress per asset application will be considered
          by the committee. All requests for redress will be treated in
          confidence and must be sent to Project Coordinator via the F6S
          platform
        </p>
      </div>
    </mat-expansion-panel>

    <hr class="faq__hr" />

    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> Who will decide if an asset application
          will be selected or not for Call #1 PULL?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big u-margin-bottom-none">
          <span class="bold">A:</span> All proposals submitted on time will be
          evaluated throughout an evaluation procedure described in the Guide
          for Applicants. The evaluation will be held by an internal evaluation
          committee composed by experts from DIHs, partners of HUBCAP
          consortium.
        </p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="u-text-left u-margin-top-big">
    <h1
      class="
        heading-secondary
        heading-secondary--underlined
        heading-secondary--underlined-left
        heading-secondary--underlined-red
      "
    >
      About my application to Call #3 INNOVATE
    </h1>
  </div>
  <mat-accordion class="faq__content">
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> Does our consortium have to use a tool
          which is already on the HUBCAP Platform?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big">
          <span class="bold">A:</span> No. There is no requirement to use an
          asset that is already part of the HUBCAP Platform. The assets used in
          your project could be entirely new, the only requirement in this case
          is that you declare them in a separate annex as part of your
          application.
        </p>
      </div>
    </mat-expansion-panel>

    <hr class="faq__hr" />
  </mat-accordion>

  <!-- <div class="u-text-left u-margin-top-big">
    <h1
      class="heading-secondary heading-secondary--underlined heading-secondary--underlined-left heading-secondary--underlined-red"
    >
      About my application to Call #3 INNOVATE
    </h1>
  </div>

  <mat-accordion class="faq__content">
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> Who will decide if an asset application
          will be selected or not for Call #1 PULL?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big u-margin-bottom-none">
          <span class="bold">A:</span> All proposals submitted on time will be
          evaluated throughout an evaluation procedure described in the Guide
          for Applicants. The evaluation will be held by an internal evaluation
          committee composed by experts from DIHs, partners of HUBCAP
          consortium.
        </p>
      </div>
    </mat-expansion-panel>

     <hr class="faq__hr" />
  </mat-accordion> -->
</section>
