<section class="faq">
  <!-- <div class="u-center-text">
    <i class="faq__icon icon-arrows-question"></i>
  </div> -->
  <mat-accordion class="faq__content">
    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> What are CPS?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big">
          <span class="bold">A:</span> Cyber-Physical Systems are systems that
          link the physical world (e.g., through sensors or actuators) with the
          digital world of software systems and communications technology. A CPS
          will often include components from many different providers, so your
          business may already be contributing towards CPSs.
        </p>
        <p class="paragraph paragraph--big">
          There is growing demand for autonomous, secure CPSs that can interact
          with humans while respecting privacy. This creates opportunities for
          SMEs in an ever-wider range of domains, but in order to take them,
          businesses must leverage advances in engineering technology across
          sectors and regions. Model-Based Design (MBD) tools help you represent
          and analyse products digitally before realising them in hardware and
          software, by building digital twins and using simulation for
          collaborative diagnostics and decision making.
        </p>
      </div>
    </mat-expansion-panel>

    <hr class="faq__hr" />

    <mat-expansion-panel class="faq__content__question">
      <mat-expansion-panel-header class="faq__content__question__header">
        <mat-panel-title class="faq__content__question__title"
          ><span class="bold">Q:</span> What is Model-Based Design (MBD)
          ?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="faq__content__question__body">
        <p class="paragraph paragraph--big">
          <span class="bold">A: HUBCAP</span> helps you to adopt digital tools
          that allow you to model, simulate, analyse and visualise products
          before you build them.
        </p>
        <p class="paragraph paragraph--big">
          These tools help you to anticipate solutions, sidestep unwanted
          emergent properties, and analyse costs in a more efficient way than
          pencil-and-paper methods, or “build it and see”. Using modern,
          comprehensive model-based engineering tools can speed up and de-risk
          the transformation from design to product. Through HUBCAP’s services
          and platform, we will help your business find the right model-based
          engineering tools for the job, support your up-skilling, and provide a
          chance to experiment with the latest tools in a “sand-pit”
          environment.
        </p>
      </div>
    </mat-expansion-panel>
    <hr class="faq__hr" />
  </mat-accordion>
</section>
