@import "../abstracts/variables";
@import "../abstracts/mixins";

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 8rem auto;

  @include respond(tab-port) {
    width: 100%;
  }

  &__body {
  }

  .cal-cell {
    font-size: 1.7rem;
    min-height: 0.1rem;
  }

  .cal-cell-top {
    min-height: 5.1rem;
  }

  .cal-open-day-events {
    font-size: 1.5rem;
    background-color: $color-blue;
  }

  .cal-day-badge {
    background-color: $color-green;
  }

  &__navigation {
    display: flex;
    align-self: center;

    .button {
      font-size: 2rem;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  h3 {
    margin: 0 0 10px;
  }

  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
}
