@import "../abstracts/mixins";
@import "../abstracts/variables";

.hub {
  display: flex;
  padding: 0 3rem;
  padding-bottom: 5rem;

  &,
  &.row {
    @include respond(tab-port) {
      flex-direction: column;
      justify-content: center;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 5rem;
    }
  }

  &:not(:last-child) {
    border-bottom: 3px solid $color-grey-light-2;
    // margin-bottom: 5rem;
  }

  &__content {
    height: 100%;
    align-self: center;
    min-height: 40rem;
  }

  &__text {
  }

  &__info-line {
    display: inline-block;
    padding-right: 1rem;

    &:not(:last-child) {
      margin-right: 0.2rem;
      // border-right: 2px solid $color-black;
    }

    @include respond(tab-port) {
      display: block;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }

    i {
      display: inline-block;
      margin: 0 0.8rem;
    }
  }

  &__name {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: $color-black;
  }

  &__list {
    list-style-type: disc;
    font-size: 2rem;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 3rem;
    &__item {
    }
  }

  &__gallery {
    height: 100%;
    min-height: 40rem;
    border-radius: 3px;
    max-height: 100%;
    box-shadow: 0 0.5rem 2rem rgba($color: $color-black, $alpha: 0.4);
    align-self: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;

    /* Remove when all images are here */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: $color-grey-dark;
    /* End */

    &:focus,
    &:hover {
      box-shadow: 0 1rem 3rem rgba($color: $color-black, $alpha: 0.6);
      transform: translateY(-1rem);
    }

    &--austria {
      background-image: url("../../images/vv/20150303a_ViF-Gebaeude-Inffeldgasse_IMG_9449-glossy\ LOGO-2000.jpg");
    }
    &--denmark {
      background-image: url("../../images/au/csm_Edison_JR_0939_6bb3281da6.jpg");
    }

    &--germany {
      // background-image: url("../../images/f");
      // background-image: url("../../images/coming-soon.png");
      box-shadow: none;
      &:hover,
      &:focus {
        box-shadow: none;
        transform: translateY(0);
      }
    }

    &--italy {
      background-image: url("../../images/fbk/CF034992\ 1.jpg");
    }

    &--romania {
      // background-image: url();
      background-image: url("../../images/lucian/inginerie.jpg");
    }

    &--uk {
      background-image: url("../../images/unew/67503.jpg");
      background-position: right;

      @include respond(tab-port) {
        background-image: url("../../images/unew/usb.jpg");
        background-position: center;
        background-size: cover;
        min-height: 30rem;
      }
    }

    &--sweden {
      //   background-image: url("../../images/kth/_MG_6328_retusch.jpg");
    }

    // &__slide {
    //   &__image {
    //     min-height: 50rem;
    //     height: 50rem;
    //     object-fit: cover;
    //   }
    // }
  }
}
