.news-item {
  position: relative;
  text-align: center;
  max-width: 70rem;
  padding: 7rem 2rem;
  padding-top: 3rem;
  border-radius: 3px;
  border: 3px solid $color-blue;
  box-shadow: 0 1rem 3rem rgba($color: $color-black, $alpha: 0.5);
  transition: all 0.3s;

  &__bottom {
    height: 10rem;
    overflow: hidden;
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 100.5%;
  }

  //   &::after {
  //     content: "";
  //     display: block;
  //     width: 101%;
  //     height: 20rem;
  //     position: absolute;
  //     bottom: -1px;
  //     left: 50%;
  //     transform: translateX(-50%);
  //     background-color: $color-blue;
  //     clip-path: polygon(
  //       100% 74%,
  //       100% 100%,
  //       0 100%,
  //       0 76%,
  //       23% 89%,
  //       52% 79%,
  //       75% 88%,
  //       87% 81%
  //     );
  //   }

  &:hover,
  &:focus {
    transform: translateY(-1rem);
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.5);
  }

  &__heading {
    text-align: center;
    display: block;
    margin: 0 auto;

    a {
      &:active,
      &:link,
      &:visited {
        color: $color-black;
        font-weight: 600;
      }
    }
  }

  &__subheading {
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  &__content {
    text-align: center;
  }

  &__link {
    display: inline-block;
    margin-bottom: 5rem;
    a {
      &:link,
      &:active,
      &:visited {
        font-size: 2.3rem;
      }
    }
  }
}
