@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  // 80% {
  //   transform: translateX(1rem);
  // }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  // 80% {
  //   transform: translateX(-1rem);
  // }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4.8rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottomCentered {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 4.8rem));
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// @keyframes moveInLeft {
//   0% {
//     opacity: 0;
//     transform: translateX(-5rem);
//   }

//   100% {
//     opacity: 1;
//     transform: translate(0);
//   }
// }
// @keyframes moveInRight {
//   0% {
//     opacity: 0;
//     transform: translateX(5rem);
//   }

//   100% {
//     opacity: 1;
//     transform: translate(0);
//   }
// }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(2rem);
  }

  100% {
    transform: translateY(2rem);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
