@import "../abstracts/mixins";
@import "../abstracts/variables";

// Basic reset

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // Root font-size, defines what 1rem is (1rem = 10px), 10px/16px = 62.5%
  scroll-behavior: smooth;

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px; 12px/16px = 75%
  }
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25%
  }
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px; 8px/16px = 50%
  }
}

body {
  box-sizing: border-box;
  // padding: 4.8rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.6rem rgb(255, 255, 255);
  box-shadow: inset 0 0 0.6rem rgb(255, 255, 255);
  background-color: $color-white;
  border-radius: 1rem;
}

body::-webkit-scrollbar {
  width: 0.8rem;
  background-color: $color-white;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.6rem;
  background-color: $color-white;
  background-image: linear-gradient(
    to bottom,
    $color-primary 0%,
    $color-primary 20%,
    $color-teal 20%,
    $color-teal 40%,
    $color-blue 40%,
    $color-blue 60%,
    $color-green 60%,
    $color-green 80%,
    $color-red 80%,
    $color-red 100%
  );
}
