@import "../abstracts/variables";
@import "../abstracts/mixins";

.heading-primary {
  color: $color-black;
  font-size: 5.2rem !important;
  font-weight: 600;
  margin: 0;
  position: relative;
  display: inline-block;
  align-self: center;

  @include respond(tab-port) {
    font-size: 4.8rem !important;
  }

  @include respond(phone) {
    font-size: 4rem !important;
  }

  &--underlined {
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 50%;
      left: 25%;
      border-top: 1rem solid transparent;
      transition: all 0.3s;
    }

    &:hover,
    &:focus {
      &::before {
        width: 75%;
        left: 12.5%;
      }
    }

    &-x-small {
      &::before {
        width: 10%;
        left: 45%;
      }

      &:hover,
      &:focus {
        &::before {
          width: 30%;
          left: 35%;
        }
      }
    }

    &-small {
      &::before {
        width: 20%;
        left: 40%;
      }

      &:hover,
      &:focus {
        &::before {
          width: 40%;
          left: 30%;
        }
      }
    }

    &-left {
      &::before {
        left: 0;
        width: 40%;
      }

      &:hover,
      &:focus {
        &::before {
          left: 0;
          width: 75%;
        }
      }

      &-small {
        &::before {
          left: 0;
          width: 30%;
        }

        &:hover,
        &:focus {
          &::before {
            left: 0;
            width: 40%;
          }
        }
      }

      &-big {
        &::before {
          left: 0;
          width: 75%;
        }

        &:hover,
        &:focus {
          &::before {
            left: 0;
            width: 100%;
          }
        }
      }
    }

    &-blue {
      &::before {
        border-top-color: $color-blue;
      }
    }
    &-darkblue {
      &::before {
        border-top-color: $color-blue-dark;
      }
    }
    &-red {
      &::before {
        border-top-color: $color-red;
      }
    }
    &-green {
      &::before {
        border-top-color: $color-green;
      }
    }
    &-teal {
      &::before {
        border-top-color: $color-teal;
      }
    }
    &-orange {
      &::before {
        border-top-color: $color-primary;
      }
    }
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 4.5rem !important;
  font-weight: 700;
  color: $color-black;
  position: relative;

  @include respond(tab-port) {
    font-size: 4rem !important;
  }

  &--small {
    font-size: 4rem !important;
    @include respond(tab-port) {
      font-size: 3rem !important;
    }
  }

  &--underlined {
    margin-bottom: 2rem;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 50%;
      left: 25%;
      border-top: 0.7rem solid transparent;
      transition: all 0.3s;
    }

    &:hover,
    &:focus {
      &::before {
        width: 75%;
        left: 12.5%;
      }
    }

    &-left {
      &::before {
        left: 0;
        width: 70%;
      }

      &:hover,
      &:focus {
        &::before {
          left: 0;
          width: 100%;
        }
      }
    }

    &-blue {
      &::before {
        border-top-color: $color-blue;
      }
    }
    &-darkblue {
      &::before {
        border-top-color: $color-blue-dark;
      }
    }
    &-red {
      &::before {
        border-top-color: $color-red;
      }
    }
    &-green {
      &::before {
        border-top-color: $color-green;
      }
    }
    &-teal {
      &::before {
        border-top-color: $color-teal;
      }
    }
    &-orange {
      &::before {
        border-top-color: $color-primary;
      }
    }
  }

  // @include respond(phone) {
  //   font-size: 3rem !important;
  // }
}

.heading-tertiary {
  font-size: 3rem;
  display: inline;
  font-weight: 600;
}

.subtitle {
  font-size: 2.5rem;

  &--announcement {
    @include respond(phone) {
      font-size: 2.1rem;
    }
  }

  /* ------------  */

  &--colored {
    display: inline-block;
    border-top-right-radius: 2rem;
    background-color: $color-primary;
    color: $color-white;
    padding: 1rem 2rem;
    align-self: flex-start;

    /* Maybe only on phones ? */

    @include respond(phone) {
      text-align: center;
      align-self: center;
      border-top-right-radius: 0;
      border-top-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
      max-width: 80%;
    }
  }
  /* ------------  */

  &--bg-blue {
    background-color: $color-blue;
  }
  &--bg-teal {
    background-color: $color-teal;
  }
  &--bg-red {
    background-color: $color-red;
  }
  &--bg-green {
    background-color: $color-green;
  }

  &--black {
    color: $color-black;
  }

  &--bold {
    font-weight: 600;
  }

  &--small {
    font-size: 2rem;
  }

  &--centered{
    text-align: center;
  }
}

.paragraph {
  font-size: $font-size-default;

  &--big {
    font-size: 1.9rem;

    @include respond(phone) {
      font-size: 2.1rem;
    }
  }

  &--huge {
    font-size: 2.5rem;
  }

  &--black {
    color: $color-black;
  }

  &--bold {
    font-weight: 700;
  }

  &:not(:last-child) {
    margin-bottom: 4.8rem;
  }
}

.inline-link {
  text-decoration: none;

  &:focus,
  &:hover {
    outline: none;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}
