<div class="container">
  <div class="press-releases">
    <div *ngIf="pressRelease === '1-1'">
      <press-release-article1></press-release-article1>
    </div>

    <div *ngIf="pressRelease === '1-2'">
      <press-release-article2></press-release-article2>
    </div>

    <div *ngIf="pressRelease === '1-3'">
      <press-release-article4></press-release-article4>
    </div>

    <div *ngIf="pressRelease === '1-4'">
      <press-release-article6></press-release-article6>
    </div>

    <div *ngIf="pressRelease === '1-5'">
      <press-release-article7></press-release-article7>
    </div>

    <div *ngIf="pressRelease === '2-1'">
      <press-release-article3></press-release-article3>
    </div>

    <div *ngIf="pressRelease === '2-2'">
      <press-release-article8></press-release-article8>
    </div>

    <div *ngIf="pressRelease === '3'">
      <press-release-article5></press-release-article5>
    </div>
  </div>
</div>
