<div
  (window:resize)="onResize()"
  (window:scroll)="checkPosition()"
  class="logo-grid"
>
  <table *ngIf="width <= 2200">
    <tr class="individual">
      <td id="heading-winners">
        <h1 class="title main-title">
          Call<br />
          Winners
        </h1>
      </td>
      <td
        *ngFor="let winner of winners.slice(0, 3)"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
    <tr>
      <td
        id="{{ winner.name === 'Developair Technologies' ? 'developair' : '' }}"
        *ngFor="let winner of winners.slice(3, 7)"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
    <tr>
      <td
        *ngFor="let winner of winners.slice(7, 11)"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
    <tr>
      <td
        *ngFor="let winner of winners.slice(11, 15)"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
    <tr>
      <td
        *ngFor="let winner of winners.slice(15, 19)"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
    <tr>
      <td
        *ngFor="let winner of winners.slice(19, 23)"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
    <tr>
      <td
        *ngFor="let winner of winners.slice(23, 27)"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
    <tr>
      <td
        *ngFor="let winner of winners.slice(27, 31)"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
    <tr>
      <td
        *ngFor="let winner of winners.slice(31, 35)"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
  </table>

  <table *ngIf="width > 2200">
    <tr class="individual">
      <td id="heading-winners">
        <h1 class="title main-title">
          Project<br />
          Partners
        </h1>
      </td>
      <td
        id="{{ winner.name === 'Developair Technologies' ? 'developair' : '' }}"
        *ngFor="let winner of winners.slice(0, 4)"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
    <tr>
      <td
        *ngFor="let winner of winners.slice(4, 9)"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
    <tr>
      <td
        *ngFor="let winner of winners.slice(9, 14)"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
    <tr>
      <td
        *ngFor="let winner of winners.slice(14, 19)"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
    <tr>
      <td
        *ngFor="let winner of winners.slice(19, 24)"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
    <tr>
      <td
        *ngFor="let winner of winners.slice(24, 29)"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
    <tr>
      <td
        *ngFor="let winner of winners.slice(29, 34)"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
    <tr>
      <td
        *ngFor="let winner of winners.slice(34, 39)"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
  </table>
</div>
