<div
  (window:resize)="onResize()"
  (window:scroll)="checkPosition()"
  class="logo-grid"
>
  <table *ngIf="width <= 2200">
    <tr>
      <td id="heading-winners">
        <h1 class="title main-title">
          Call<br />
          Winners
        </h1>
      </td>
      <td
        *ngFor="let winner of rowsOf4[0]"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" alt="{{ winner.name }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
    <tr *ngFor="let row of rowsOf4.slice(1, rowsOf4.length)">
      <td
        id="{{ winner.name === 'Developair Technologies' ? 'developair' : '' }}"
        *ngFor="let winner of row"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" alt="{{ winner.name }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
  </table>

  <table *ngIf="width > 2200">
    <tr>
      <td id="heading-winners">
        <h1 class="title main-title">
          Project<br />
          Partners
        </h1>
      </td>
      <td
        id="{{ winner.name === 'Developair Technologies' ? 'developair' : '' }}"
        *ngFor="let winner of rowsOf5[0]"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" alt="{{ winner.name }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
    <tr *ngFor="let row of rowsOf5.slice(1, rowsOf5.length)">
      <td
        *ngFor="let winner of row"
        class="hidden-fade-in hidden-fade-in-winner"
      >
        <a
          *ngIf="winner.logo !== ''"
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
        >
          <img class="logo" src="{{ winner.logo }}" alt="{{ winner.name }}" />
        </a>
        <a
          target="_blank"
          href="{{ winner.website }}"
          class="heading-tertiary"
          *ngIf="winner.logo === ''"
        >
          {{ winner.name }}
        </a>
        <b *ngIf="winner.title !== ''">{{ winner.title }}</b>
      </td>
    </tr>
  </table>
</div>
