<div class="headings" (window:resize)="onResize()">
  <h2
    class="
      heading-secondary heading-secondary--small
      u-is-black-color u-center-text u-margin-bottom-small
    "
  >
    HUBCAP will create new opportunities for SMEs in the vast domains of
    Cyber-Physical Systems
  </h2>
  <h3 class="subtitle subtitle--bold u-center-text u-margin-bottom-medium">
    Is your SME providing digital technologies?
  </h3>
  <h3 class="subtitle subtitle--bold u-center-text u-margin-bottom-medium">
    Join the HUBCAP programme and we will help you with the process of finding
    new customers and selling your assets.
  </h3>
</div>

<div class="release__body u-justify-text">
  <h2 class="subtitle u-center-text-tab-port subtitle--bold u-is-blue-color">
    HUBCAP Call #1.5 - PULL is open for applications until 07 July 2022 at
    17h00 (Brussels Time) CEST!
  </h2>

  <p class="paragraph paragraph--big">
    <a routerLink="/"
      >HUBCAP (Digital Innovation Hubs and Collaborative Platform for
      Cyber-Physical Systems)</a
    >
    is the one-stop-shop for European SMEs wanting to embrace digital innovation
    using Model-Based Design (MBD) technology for Cyber-Physical Systems (CPS).
  </p>
  <p class="paragraph paragraph--big">
    Backed by the
    <a href="https://smartanythingeverywhere.eu/" target="_blank"
      >Smart Anything Everywhere</a
    >
    initiative, this EU funded project builds on seven Digital Innovation Hubs
    (DIHs) across Europe, each embedded in its regional innovation ecosystem,
    offering complementary technical expertise, experimental capabilities and
    specialist knowledge in CPS application domains.
  </p>

  <p class="paragraph paragraph--big">
    <b
      >HUBCAP has organised three series of Open Calls throughout 2020-2022,
      with €3,2 million committed in cascade funding for SMEs, namely: Call #1
      PULL, Call #2 EXPERIMENT and Call #3 INNOVATE.
    </b>
  </p>

  <p class="paragraph paragraph--big">
    HUBCAP has just launched its last Open Call - Call #1.5 PULL: we are now looking for European SMEs
    providing CPS and MBD assets & tools. Such digital technologies may be applied to any sector domain
    (Mobility, Industry, Health, Energy, Environment, Robotics, etc.), to enrich our innovative and sustainable
    cloud-based open collaboration platform!
  </p>

  <h2 class="subtitle u-center-text-tab-port subtitle--bold u-is-blue-color">
    How does Call #1 PULL work?
  </h2>

  <p class="paragraph paragraph--big">
    Each PULL call provides a mini grant of €1,000 to help individual SMEs integrate existing CPS and MBD
    tools in the HUBCAP collaboration platform. The asset integration is supported by the DIHs through
    participation in a training workshop. SMEs are invited to define the price structure for their assets and will
    thus benefit from exposure in the HUBCAP marketplace, as well as the opportunity to find new customers
  </p>

  <h2 class="subtitle u-center-text-tab-port subtitle--bold u-is-blue-color">
    What's in it for SMEs?
  </h2>

  <ol class="release__body__list" type="1">
    <li class="release__body__list__item">
      The opportunity to integrate their MBD CPS products, services and
      technologies within the HUBCAP ecosystem offering;
    </li>
    <li class="release__body__list__item">
      The chance to reach potential new customers and collaborators and to
      participate in funded HUBCAP experiments and innovations;
    </li>
    <li class="release__body__list__item">A lump sum of 1000€ (per SME);</li>
    <li class="release__body__list__item">
      Access to a sustainable ecosystem of stakeholders active in multiple CPS
      domains (Mobility, Industry, Health, Energy, Environment, Robotics, etc.);
    </li>
    <li class="release__body__list__item">
      Access to support services and workshops with our DIHs
    </li>
  </ol>
  <div class="images">
    <img
      class="release__body__image"
      (click)="openModal('social')"
      data-target="social"
      aria-haspopup="true"
      src="../../../assets/res/files/HUBCAP_OC1-5PULL/HUBCAP_1-5.jpg"
      alt="HUBCAP Call #1.5 PULL Promotional Image"
    />

    <div class="release__body__icon-container u-center-text">
      <img
        src="../../assets/res/images/pull.png"
        alt="HUBCAP PULL Calls Icon"
        class="release__body__icon"
      />
      <h3 class="heading-tertiary u-is-black-color">Call #1.5 PULL</h3>
    </div>
  </div>
  <div class="modal" id="social">
    <div class="modal-background" (click)="closeModal('social')"></div>
    <div class="modal-content">
      <figure class="figure">
        <img src="" alt="HUBCAP Call #1.5 PULL Promotional Image" />
      </figure>
    </div>
    <button
      class="modal-close is-large"
      (click)="closeModal('social')"
      aria-label="close"
    ></button>
  </div>
</div>
