<div class="content-page content-page--padding-bottom-small">
  <video
    class="content-page__video"
    poster="../../../assets/res/videos/Hubcap_thumbnail_LONG.jpg"
    controls
  >
    <source
      src="https://rr4---sn-aigl6nl7.c.drive.google.com/videoplayback?expire=1643082822&ei=BjzvYa74IJnShgbT6ZzgAQ&ip=31.205.210.30&cp=QVRJVUFfUVhQQ1hPOmV0Wk41cTZYNEhnWVRReHZRdmpfeldTY1JZalpjcDU5cFkxNWVkRWFNVG8&id=f48601c855a5fe7f&itag=22&source=webdrive&requiressl=yes&mh=Sg&mm=32&mn=sn-aigl6nl7&ms=su&mv=m&mvi=4&pl=20&ttl=transient&susc=dr&driveid=1tPOYP2UMSsl-Olp0Yp6uKKMipM6aVfjg&app=explorer&mime=video/mp4&vprv=1&prv=1&dur=152.183&lmt=1643067724212600&mt=1643068108&txp=0011224&sparams=expire,ei,ip,cp,id,itag,source,requiressl,ttl,susc,driveid,app,mime,vprv,prv,dur,lmt&sig=AOq0QJ8wRQIgFWJfi3CMwz40xN0U339-vcozDGrIRK3kQbf6Q203e-MCIQCgtKCalAyv2XoWcWUy3n1QU8_ZOvZpvXdc3juf1COq6Q==&lsparams=mh,mm,mn,ms,mv,mvi,pl&lsig=AG3C_xAwRQIhAINyKHn_82va-IU4AsNXrGZTYPgytPheqr1bV8GPU_Z0AiAfRRfS6tpP-CV7kAztK0oDtUObfaUuqYMf_2cPCiifXQ==&cpn=2hRY3TZsIKtXwlKb&c=WEB_EMBEDDED_PLAYER&cver=1.20220119.01.00"
      type="video/mp4"
    />
    Your browser does not support embedded videos.
  </video>
</div>
