<div class="content-page content-page--padding-bottom-small">
  <video
    class="content-page__video"
    poster="../../../assets/res/videos/Hubcap_thumbnail_LONG.jpg"
    controls
  >
    <source
      src="../../../assets/res/videos/HUBCAP_MAIN_LONG_NOSUBS.webm"
      type="video/webm"
    />
    <source
      src="../../../assets/res/videos/HUBCAP_MAIN_LONG_NOSUBS.mp4"
      type="video/mp4"
    />
    <track
      label="English"
      kind="subtitles"
      srclang="en"
      src="../../../assets/res/videos/hubcap_long_main_subtitles.vtt"
      default
    />
    Your browser does not support embedded videos.
  </video>
</div>
