<div class="container" (window:resize)="onResize()">
  <div class="u-center-text u-margin-bottom-small">
    <h1
      class="
        heading-primary
        heading-primary--underlined
        heading-primary--underlined-green
        u-center-text u-margin-bottom-small
      "
    >
      Useful Resources
    </h1>
  </div>
  <div class="u-center-text">
    <h2
      class="
        heading-secondary
        heading-secondary--underlined
        heading-secondary--underlined-darkblue
      "
    >
      Documents
    </h2>
  </div>
  <div class="downloads u-margin-bottom-big">
    <div class="downloads__row">
      <div class="downloads__box downloads__box--pull">
        <h3 class="downloads__heading has-text-centered u-margin-bottom-small">
          Call #1 PULL
        </h3>
        <div class="downloads__lists">
          <ul class="downloads__list">
            <h4 class="has-text-centered">#1.1</h4>
            <li class="downloads__list__item">
              <span>Call #1.1 flyer</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-1PULL/HUBCAP_CALL1-1_PULL.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="flyer1.1"
                  href="../../assets/res/files/HUBCAP_OC1-1PULL/HUBCAP_CALL1-1_PULL.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #1.1 press release</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="/press-releases/call1-1"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="pr#1.1"
                  href="../../assets/res/files/HUBCAP_OC1-1PULL/Press Release_ HUBCAP_Call1-1Pull.docx"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #1.1 Documentation Kit</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-1PULL/HUBCAP Call 1-1 PULL Documentation KIT.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="Dkit"
                  href="../../assets/res/files/HUBCAP_OC1-1PULL/HUBCAP Call 1-1 PULL Documentation KIT.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
          </ul>
          <ul class="downloads__list">
            <h4 class="has-text-centered">#1.2</h4>
            <li class="downloads__list__item">
              <span>Call #1.2 flyer</span>
              <div class="downloads__list__item__action-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP_CALL1-2_PULL_web.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="flyer1.2"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP_CALL1-2_PULL_web.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #1.2 press release</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="/press-releases/call1-2"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="pr#1.2"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/Press Release_ HUBCAP_Call1-2Pull.docx"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #1.2 Documentation Kit</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP Call 1-2 PULL Documentation KIT.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="Dkit1-2"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP Call 1-2 PULL Documentation KIT.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
          </ul>
          <ul class="downloads__list">
            <h4 class="has-text-centered">#1.3</h4>
            <li class="downloads__list__item">
              <span>Call #1.3 flyer</span>
              <div class="downloads__list__item__action-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-3PULL/HUBCAP_CALL1-3_PULL_FLYER.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="flyer1.3"
                  href="../../assets/res/files/HUBCAP_OC1-3PULL/HUBCAP_CALL1-3_PULL_FLYER.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #1.3 press release</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="/press-releases/call1-3"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="pr#1.3"
                  href="../../assets/res/files/HUBCAP_OC1-3PULL/Press Release HUBCAP Open Call 1-3 PULL.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #1.3 Documentation Kit</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-3PULL/HUBCAP Call 1-3 PULL Documentation KIT.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="Dkit1-3"
                  href="../../assets/res/files/HUBCAP_OC1-3PULL/HUBCAP Call 1-3 PULL Documentation KIT.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #1.3 Editable Annexes</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--download"
                  id="Annexes1-3"
                  href="../../assets/res/files/HUBCAP_OC1-3PULL/HUBCAP_OC1-3PULL_ANNEXES.zip"
                  download
                  >Download</a
                >
              </div>
            </li>
          </ul>
          <ul class="downloads__list">
            <h4 class="has-text-centered">#1.4</h4>
            <li class="downloads__list__item">
              <span>Call #1.4 flyer</span>
              <div class="downloads__list__item__action-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-4PULL/HUBCAP_FLYER_1-4_PULL.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="flyer1.4"
                  href="../../assets/res/files/HUBCAP_OC1-4PULL/HUBCAP_FLYER_1-4_PULL.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #1.4 press release</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="/press-releases/call1-4"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="pr#1.4"
                  href="../../assets/res/files/HUBCAP_OC1-4PULL/Press Release_ HUBCAP Open Call #1.4 PULL.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #1.4 Documentation Kit</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-4PULL/HUBCAP Call 1.4 PULL Documentation KIT 7 SEP 2021.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="Dkit1-4"
                  href="../../assets/res/files/HUBCAP_OC1-4PULL/HUBCAP Call 1.4 PULL Documentation KIT 7 SEP 2021.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #1.4 Editable Annexes</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--download"
                  id="Annexes1-4"
                  href="../../assets/res/files/HUBCAP_OC1-4PULL/HUBCAP_OC1-4PULL_ANNEXES.zip"
                  download
                  >Download</a
                >
              </div>
            </li>
          </ul>
          <!-- <ul class="downloads__list">
            <h4 class="has-text-centered">#1.5</h4>
            <li class="downloads__list__item">
              <span>Call #1.5 flyer</span>
              <div class="downloads__list__item__action-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-5PULL/HUBCAP_CALL1-5_PULL_FLYER.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="flyer1.5"
                  href="../../assets/res/files/HUBCAP_OC1-5PULL/HUBCAP_CALL1-5_PULL_FLYER.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #1.5 press release</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="/press-releases/call1-5"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="pr#1.5"
                  href="../../assets/res/files/HUBCAP_OC1-5PULL/Press Release HUBCAP Open Call 1-5 PULL.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #1.5 Documentation Kit</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-5PULL/HUBCAP Call 1-5 PULL Documentation KIT.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="Dkit1-5"
                  href="../../assets/res/files/HUBCAP_OC1-5PULL/HUBCAP Call 1-5 PULL Documentation KIT.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #1.5 Editable Annexes</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--download"
                  id="Annexes1-5"
                  href="../../assets/res/files/HUBCAP_OC1-5PULL/HUBCAP_OC1-5PULL_ANNEXES.zip"
                  download
                  >Download</a
                >
              </div>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
    <div class="downloads__row">
      <!-- </div> -->
      <div class="downloads__box downloads__box--experiment">
        <h3 class="downloads__heading has-text-centered u-margin-bottom-small">
          Call #2 EXPERIMENT
        </h3>
        <div class="downloads__lists">
          <ul class="downloads__list">
            <h4 class="has-text-centered">#2.1</h4>
            <li class="downloads__list__item">
              <span>Call #2.1 flyer</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC2-1EXPERIMENT/HUBCAP_2-1_EXPERIMENT_Flyer.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="flyer2.1"
                  href="../../assets/res/files/HUBCAP_OC2-1EXPERIMENT/HUBCAP_2-1_EXPERIMENT_Flyer.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #2.1 press release</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="/press-releases/call2-1"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="pr#2.1"
                  href="../../assets/res/files/HUBCAP_OC2-1EXPERIMENT/Press Release_ HUBCAP_Call2-1EXP.docx"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #2.1 Documentation Kit</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC2-1EXPERIMENT/HUBCAP_CALL_2-1_DOC_KIT.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="Dkit2-1"
                  href="../../assets/res/files/HUBCAP_OC2-1EXPERIMENT/HUBCAP_CALL_2-1_DOC_KIT.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #2.1 Editable Annexes</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--download"
                  id="Dkit2-1"
                  href="../../assets/res/files/HUBCAP_OC2-1EXPERIMENT/HUBCAP_OC2-1EXPERIMENT_ANNEXES.zip"
                  download
                  >Download</a
                >
              </div>
            </li>
          </ul>
          <!-- <ul class="downloads__list">
            <h4 class="has-text-centered">#2.2</h4>
            <li class="downloads__list__item">
              <span>Call #2.2 flyer</span>
              <div class="downloads__list__item__action-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP_CALL1-2_PULL_web.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="flyer2.2"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP_CALL1-2_PULL_web.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #2.2 press release</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="/press-releases/call1-2"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="pr#2.2"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/Press Release_ HUBCAP_Call1-2Pull.docx"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #2.2 Documentation Kit</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP Call 1-2 PULL Documentation KIT.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="Dkit2-2"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP Call 1-2 PULL Documentation KIT.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #2.2 Editable Annexes</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--download"
                  id="Dkit2-1"
                  href="../../assets/res/files/HUBCAP_OC2-1EXPERIMENT/HUBCAP_OC2-1EXPERIMENT_ANNEXES.zip"
                  download
                  >Download</a
                >
              </div>
            </li>
          </ul> -->
        </div>
      </div>
      <div class="downloads__box downloads__box--innovate">
        <h3 class="downloads__heading has-text-centered u-margin-bottom-small">
          Call #3 INNOVATE
        </h3>
        <div class="downloads__lists">
          <ul class="downloads__list">
            <li class="downloads__list__item">
              <span>Call #3 flyer</span>
              <div class="downloads__list__item__action-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC3INNOVATE/HUBCAP_FLYER_3INNOVATE.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="flyer3"
                  href="../../assets/res/files/HUBCAP_OC3INNOVATE/HUBCAP_FLYER_3INNOVATE.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #3 press release</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="/press-releases/call3"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="pr#3"
                  href="../../assets/res/files/HUBCAP_OC3INNOVATE/Press Release HUBCAP Open Call 3 INNOVATE.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #3 Documentation Kit</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC3INNOVATE/HUBCAP Call 3 INNOVATE Documentation KIT.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="Dkit3"
                  href="../../assets/res/files/HUBCAP_OC3INNOVATE/HUBCAP Call 3 INNOVATE Documentation KIT.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #3 Editable Annexes</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--download"
                  id="Annexes3"
                  href="../../assets/res/files/HUBCAP_OC3INNOVATE/HUBCAP_OC3INNOVATE_ANNEXES.zip"
                  download
                  >Download</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="downloads__row">
      <div class="downloads__box">
        <h3 class="downloads__heading has-text-centered u-margin-bottom-small">
          General
        </h3>
        <ul class="downloads__list">
          <li class="downloads__list__item">
            <span>Open Calls flyer</span>
            <div class="downloads__list__item__aciton-row">
              <a
                class="btn-inline btn-inline--view"
                target="_blank"
                href="../../assets/res/files/HUBCAP_OPENCALLS.pdf"
                >View</a
              >

              <a
                class="btn-inline btn-inline--download"
                href="../../assets/res/files/HUBCAP_OPENCALLS.pdf"
                id="OCflyer"
                download
                >Download</a
              >
            </div>
          </li>
        </ul>
      </div>
      <div class="downloads__box">
        <h3 class="downloads__heading has-text-centered u-margin-bottom-small">
          Declarations
        </h3>
        <ul class="downloads__list">
          <li class="downloads__list__item">
            <span>HUBCAP SME Declaration</span>
            <div class="downloads__list__item__aciton-row">
              <a
                class="btn-inline btn-inline--download"
                id="SMEdec"
                href="../../assets/res/files/Annex 5_HUBCAP_SME Declaration.docx"
                download
                >Download</a
              >
            </div>
          </li>
          <li class="downloads__list__item">
            <span>HUBCAP Declaration of Honour</span>
            <div class="downloads__list__item__aciton-row">
              <a
                class="btn-inline btn-inline--download"
                id="Hdec"
                href="../../assets/res/files/Annex 4_HUBCAP_Applicant Declaration of Honour.docx"
                download
                >Download</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="media-kit">
    <div class="u-center-text u-margin-bottom-small">
      <h2
        class="
          heading-secondary
          heading-secondary--underlined
          heading-secondary--underlined-darkblue
        "
      >
        Media Kit
      </h2>
    </div>
    <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Open Calls</h3>

      <div class="media-kit__items-box u-center-text columns is-multiline">
        <div
          class="media-kit__item column is-one-third is-full-touch"
          *ngFor="let item of items_OC"
        >
          <img
            class="modal-button"
            (click)="openModal(item)"
            attr.data-target="{{ item.modalTarget }}"
            aria-haspopup="true"
            src="{{ item.imageUrl }}"
          />

          <a
            class="button button--small button--download"
            href="{{ item.imageUrl }}"
            download=""
            >Download
          </a>
        </div>
      </div>
    </div>

    <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Call #1.1</h3>
      <div class="media-kit__items-box columns is-multiline">
        <div
          class="
            media-kit__item
            column
            is-one-third is-full-touch
            u-center-text
          "
          *ngFor="let item of items_1_1"
        >
          <img
            class="modal-button"
            (click)="openModal(item)"
            attr.data-target="{{ item.modalTarget }}"
            aria-haspopup="true"
            src="{{ item.imageUrl }}"
          />
          <a
            class="button button--small button--download"
            href="{{ item.imageUrl }}"
            download=""
            >Download
          </a>
        </div>
      </div>
    </div>

    <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Call #1.2</h3>
      <div class="media-kit__items-box columns is-multiline">
        <div
          class="
            media-kit__item
            column
            is-one-third is-full-touch
            u-center-text
          "
          *ngFor="let item of items_1_2"
        >
          <img
            class="modal-button"
            (click)="openModal(item)"
            attr.data-target="{{ item.modalTarget }}"
            aria-haspopup="true"
            src="{{ item.imageUrl }}"
          />
          <a
            class="button button--small button--download"
            href="{{ item.imageUrl }}"
            download=""
            >Download
          </a>
        </div>
      </div>
    </div>
    <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Call #1.3</h3>
      <div class="media-kit__items-box columns is-multiline">
        <div
          class="
            media-kit__item
            column
            is-one-third is-full-touch
            u-center-text
          "
          *ngFor="let item of items_1_3"
        >
          <img
            class="modal-button"
            (click)="openModal(item)"
            attr.data-target="{{ item.modalTarget }}"
            aria-haspopup="true"
            src="{{ item.imageUrl }}"
          />
          <a
            class="button button--small button--download"
            href="{{ item.imageUrl }}"
            download=""
            >Download
          </a>
        </div>
      </div>
    </div>
    <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Call #1.4</h3>
      <div class="media-kit__items-box columns is-multiline">
        <div
          class="media-kit__item column is-one-third is-full-touch u-center-text"
          *ngFor="let item of items_1_4"
        >
          <img
            class="modal-button"
            (click)="openModal(item)"
            attr.data-target="{{ item.modalTarget }}"
            aria-haspopup="true"
            src="{{ item.imageUrl }}"
          />
          <a
            class="button button--small button--download"
            href="{{ item.imageUrl }}"
            download=""
            >Download
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Call #1.5</h3>
      <div class="media-kit__items-box columns is-multiline">
        <div
          class="media-kit__item column is-one-third is-full-touch u-center-text"
          *ngFor="let item of items_1_5"
        >
          <img
            class="modal-button"
            (click)="openModal(item)"
            attr.data-target="{{ item.modalTarget }}"
            aria-haspopup="true"
            src="{{ item.imageUrl }}"
          />
          <a
            class="button button--small button--download"
            href="{{ item.imageUrl }}"
            download=""
            >Download
          </a>
        </div>
      </div>
    </div> -->
    <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Call #2.1</h3>
      <div class="media-kit__items-box columns is-multiline">
        <div
          class="
            media-kit__item
            column
            is-one-third is-full-touch
            u-center-text
          "
          *ngFor="let item of items_2_1"
        >
          <img
            class="modal-button"
            (click)="openModal(item)"
            attr.data-target="{{ item.modalTarget }}"
            aria-haspopup="true"
            src="{{ item.imageUrl }}"
          />
          <a
            class="button button--small button--download"
            href="{{ item.imageUrl }}"
            download=""
            >Download
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Call #2.2</h3>
      <div class="media-kit__items-box columns is-multiline">
        <div
          class="
            media-kit__item
            column
            is-one-third is-full-touch
            u-center-text
          "
          *ngFor="let item of items_2_2"
        >
          <img
            class="modal-button"
            (click)="openModal(item)"
            attr.data-target="{{ item.modalTarget }}"
            aria-haspopup="true"
            src="{{ item.imageUrl }}"
          />
          <a
            class="button button--small button--download"
            href="{{ item.imageUrl }}"
            download=""
            >Download
          </a>
        </div>
      </div>
    </div> -->
    <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Call #3</h3>
      <div class="media-kit__items-box columns is-multiline">
        <div
          class="
            media-kit__item
            column
            is-one-third is-full-touch
            u-center-text
          "
          *ngFor="let item of items_3"
        >
          <img
            class="modal-button"
            (click)="openModal(item)"
            attr.data-target="{{ item.modalTarget }}"
            aria-haspopup="true"
            src="{{ item.imageUrl }}"
          />
          <a
            class="button button--small button--download"
            href="{{ item.imageUrl }}"
            download=""
            >Download
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let item of items_all" class="modal" id="{{ item.modalTarget }}">
  <div class="modal-background" (click)="closeModal(item)"></div>
  <div class="modal-content">
    <img src="{{ item.imageUrl }}" />
  </div>
  <button
    class="modal-close is-large"
    (click)="closeModal(item)"
    aria-label="close"
  ></button>
</div>
