@import "../../assets/res/sass/abstracts/variables";
@import "../../assets/res/sass/abstracts/mixins";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include respond(phone) {
    padding: 2.5rem 0;
    margin-bottom: -3rem !important;
  }
}

.downloads {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  padding-top: 5rem;
  // padding: 5rem 3rem;

  @include respond(tab-port) {
    flex-direction: column;
  }
  @include respond(phone) {
    padding: 5rem 2rem;
    padding-bottom: 0;
  }

  &__row {
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: center;

    &:not(:last-child) {
      margin-bottom: 5rem;
    }

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: bold;
    color: $color-black;

    @include respond(tab-port) {
      font-size: 3rem;
    }

    &--main {
      border-bottom: 1rem solid $color-teal;
    }
  }

  &__lists {
    display: flex;
    flex-direction: row;
    align-self: center;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1rem 1.5rem rgba($color: $color-black, $alpha: 0.3);
    align-self: flex-start;
    padding: 2.5rem;
    // min-height: 30rem
    border-radius: 3px;
    width: fit-content;
    transition: all 0.3s;

    &:not(:last-child) {
      margin-right: 5rem;
      // padding-right: 2.5rem;
      // border-right: 2px solid $color-grey-dark;
    }

    &:hover,
    &:focus {
      box-shadow: 0 1.5rem 2rem rgba($color: $color-black, $alpha: 0.5);
      transform: translateY(-1rem);
    }

    @include respond(tab-port) {
      align-self: center;
      width: 100%;
      max-width: 60rem;

      &:not(:last-child) {
        margin-bottom: 5rem;
        margin-right: 0;
      }
    }

    @include respond(phone) {
      padding: 3rem 2rem;
      max-width: 40rem;
    }

    &--pull {
      width: fit-content;

      @include respond(tab-port) {
        width: 100%;
      }
    }
  }

  &__list {
    font-size: 1.9rem;
    list-style: none;
    margin-left: 0;

    &:not(:last-child) {
      margin-right: 2rem;

      @include respond(phone) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding-bottom: 1rem;

      &:not(:last-child) {
        border-bottom: 2px solid $color-grey-dark;
        margin-bottom: 1rem;
      }
      // &::before {
      //   content: "\01F4BE";
      //   font-size: 1.7rem;
      //   margin-right: 0.5rem;
      // }

      &__action-row {
        .btn-inline {
          align-self: center;
        }
      }
    }

    h4 {
      font-weight: bold;
      color: $color-black;
    }

    &__hr {
      height: 3px;
      background-color: $color-teal;
      max-width: 100%;
      margin: 2rem auto;
      transform: translateX(-2.5rem);
    }
  }
}

.media-kit {
  margin-top: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  &__heading {
    border-bottom: 1rem solid $color-red;
  }

  &__subheading {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }

  &__section {
    text-align: center;
    padding: 5rem 0;

    &:not(:last-child) {
      border-bottom: 3px solid $color-grey-dark;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__items-box {
    padding: 5rem 0;
    padding-top: 5rem;
    &:not(:last-child) {
      border-bottom: 3px solid $color-grey-dark;
    }
  }
}

// Move the icon down a bit so it's level with the rest of the text
// .download-icon {
//   transform: translateY(3px);
// }

// .media-items {
//   flex-direction: row;
//   margin-bottom: 5rem;
//   justify-content: center;
//   align-self: center;

//   .media-item {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }
// }

// @media (max-width: 680px) {
//   .media-items {
//     max-width: 300px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }

//   .media-item {
//     padding: 1rem 0;
//     margin: 1rem auto;
//     max-width: 300px;
//     align-self: center;
//     img {
//       max-width: 300px;
//       margin: 1rem auto;
//     }
//   }
// }
