<div class="container">
  <div class="u-center-text">
    <h2
      class="heading-secondary heading-secondary--underlined heading-secondary--underlined-teal"
    >
      Documents
    </h2>
  </div>
  <div class="downloads u-margin-bottom-big">
    <div class="downloads__row">
      <div class="downloads__box downloads__box--pull">
        <h3 class="downloads__heading has-text-centered u-margin-bottom-small">
          Call #1 PULL
        </h3>
        <div class="downloads__lists">
          <ul class="downloads__list">
            <h4 class="has-text-centered">#1.1</h4>
            <li class="downloads__list__item">
              <span>Call #1.1 flyer</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-1PULL/HUBCAP_CALL1-1_PULL.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="flyer1.1"
                  href="../../assets/res/files/HUBCAP_OC1-1PULL/HUBCAP_CALL1-1_PULL.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #1.1 press release</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="/press-releases/call1-1"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="pr#1.1"
                  href="../../assets/res/files/HUBCAP_OC1-1PULL/Press Release_ HUBCAP_Call1-1Pull.docx"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #1.1 Documentation Kit</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-1PULL/HUBCAP Call 1-1 PULL Documentation KIT.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="Dkit"
                  href="../../assets/res/files/HUBCAP_OC1-1PULL/HUBCAP Call 1-1 PULL Documentation KIT.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
          </ul>
          <ul class="downloads__list">
            <h4 class="has-text-centered">#1.2</h4>
            <li class="downloads__list__item">
              <span>Call #1.2 flyer</span>
              <div class="downloads__list__item__action-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP_CALL1-2_PULL_web.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="flyer1.2"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP_CALL1-2_PULL_web.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #1.2 press release</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="/press-releases/call1-2"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="pr#1.2"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/Press Release_ HUBCAP_Call1-2Pull.docx"
                  download
                  >Download</a
                >
              </div>
            </li>
            <!-- <hr class="downloads__list__hr" /> -->
            <li class="downloads__list__item">
              <span>Call #1.2 Documentation Kit</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP Call 1-2 PULL Documentation KIT.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="Dkit1-2"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP Call 1-2 PULL Documentation KIT.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="downloads__box downloads__box--experiment">
        <h3 class="downloads__heading has-text-centered u-margin-bottom-small">
          Call #2 EXPERIMENT
        </h3>
        <div class="downloads__lists">
          <ul class="downloads__list">
            <h4 class="has-text-centered">#2.1</h4>
            <li class="downloads__list__item">
              <span>Call #2.1 flyer</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-1PULL/HUBCAP_CALL1-1_PULL.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="flyer2.1"
                  href="../../assets/res/files/HUBCAP_OC1-1PULL/HUBCAP_CALL1-1_PULL.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #2.1 press release</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="/press-releases/call1-1"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="pr#2.1"
                  href="../../assets/res/files/HUBCAP_OC1-1PULL/Press Release_ HUBCAP_Call1-1Pull.docx"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #2.1 Documentation Kit</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-1PULL/HUBCAP Call 1-1 PULL Documentation KIT.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="Dkit2-1"
                  href="../../assets/res/files/HUBCAP_OC1-1PULL/HUBCAP Call 1-1 PULL Documentation KIT.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
          </ul>
          <ul class="downloads__list">
            <h4 class="has-text-centered">#2.2</h4>
            <li class="downloads__list__item">
              <span>Call #2.2 flyer</span>
              <div class="downloads__list__item__action-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP_CALL1-2_PULL_web.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="flyer2.2"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP_CALL1-2_PULL_web.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #2.2 press release</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="/press-releases/call1-2"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="pr#2.2"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/Press Release_ HUBCAP_Call1-2Pull.docx"
                  download
                  >Download</a
                >
              </div>
            </li>
            <!-- <hr class="downloads__list__hr" /> -->
            <li class="downloads__list__item">
              <span>Call #2.2 Documentation Kit</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP Call 1-2 PULL Documentation KIT.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="Dkit2-2"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP Call 1-2 PULL Documentation KIT.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="downloads__row">
      <!-- <div class="downloads__box downloads__box--innovate">
        <h3 class="downloads__heading has-text-centered u-margin-bottom-small">
          Call #2 INNOVATE
        </h3>
        <div class="downloads__lists">
          <ul class="downloads__list">
            <li class="downloads__list__item">
              <span>Call #3 flyer</span>
              <div class="downloads__list__item__action-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP_CALL1-2_PULL_web.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="flyer3"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP_CALL1-2_PULL_web.pdf"
                  download
                  >Download</a
                >
              </div>
            </li>
            <li class="downloads__list__item">
              <span>Call #3 press release</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="/press-releases/call1-2"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="pr#3"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/Press Release_ HUBCAP_Call1-2Pull.docx"
                  download
                  >Download</a
                >
              </div>
            </li>
           <hr class="downloads__list__hr" /> -->
      <!-- <li class="downloads__list__item">
              <span>Call #3 Documentation Kit</span>
              <div class="downloads__list__item__aciton-row">
                <a
                  class="btn-inline btn-inline--view"
                  target="_blank"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP Call 1-2 PULL Documentation KIT.pdf"
                  >View</a
                >

                <a
                  class="btn-inline btn-inline--download"
                  id="Dkit3"
                  href="../../assets/res/files/HUBCAP_OC1-2PULL/HUBCAP Call 1-2 PULL Documentation KIT.pdf"
                  download
                  >Download</a
                >
              </div>
            </li> -->
      <!-- </ul> -->
      <!-- </div> -->
      <!-- </div> -->
    </div>
    <div class="downloads__row">
      <div class="downloads__box">
        <h3 class="downloads__heading has-text-centered u-margin-bottom-small">
          Open Calls
        </h3>
        <ul class="downloads__list">
          <li class="downloads__list__item">
            <span>Open Calls flyer</span>
            <div class="downloads__list__item__aciton-row">
              <a
                class="btn-inline btn-inline--view"
                target="_blank"
                href="../../assets/res/files/HUBCAP_OPENCALLS.pdf"
                >View</a
              >

              <a
                class="btn-inline btn-inline--download"
                href="../../assets/res/files/HUBCAP_OPENCALLS.pdf"
                id="OCflyer"
                download
                >Download</a
              >
            </div>
          </li>
        </ul>
      </div>
      <div class="downloads__box">
        <h3 class="downloads__heading has-text-centered u-margin-bottom-small">
          Declarations
        </h3>
        <ul class="downloads__list">
          <li class="downloads__list__item">
            <span>HUBCAP SME Declaration</span>
            <div class="downloads__list__item__aciton-row">
              <a
                class="btn-inline btn-inline--download"
                id="SMEdec"
                href="../../assets/res/files/Annex 5_HUBCAP_SME Declaration.docx"
                download
                >Download</a
              >
            </div>
          </li>
          <li class="downloads__list__item">
            <span>HUBCAP Declaration of Honour</span>
            <div class="downloads__list__item__aciton-row">
              <a
                class="btn-inline btn-inline--download"
                id="Hdec"
                href="../../assets/res/files/Annex 4_HUBCAP_Applicant Declaration of Honour.docx"
                download
                >Download</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="media-kit">
    <div class="u-center-text u-margin-bottom-small">
      <h2
        class="heading-secondary heading-secondary--underlined heading-secondary--underlined-red"
      >
        Media Kit
      </h2>
    </div>
    <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Open Calls</h3>

      <div class="media-kit__items-box u-center-text columns is-multiline">
        <div
          class="media-kit__item column is-one-third is-full-touch"
          *ngFor="let item of items.slice(0, 2)"
        >
          <img
            class="modal-button"
            (click)="openModal(item)"
            attr.data-target="{{ item.modalTarget }}"
            aria-haspopup="true"
            src="{{ item.imageUrl }}"
          />

          <a
            class="button button--small button--download"
            href="{{ item.imageUrl }}"
            download=""
            >Download
          </a>
        </div>
      </div>
    </div>

    <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Call #1.1</h3>
      <div class="media-kit__items-box columns is-multiline">
        <div
          class="media-kit__item column is-one-third is-full-touch u-center-text"
          *ngFor="let item of items.slice(2, 6)"
        >
          <img
            class="modal-button"
            (click)="openModal(item)"
            attr.data-target="{{ item.modalTarget }}"
            aria-haspopup="true"
            src="{{ item.imageUrl }}"
          />
          <a
            class="button button--small button--download"
            href="{{ item.imageUrl }}"
            download=""
            >Download
          </a>
        </div>
      </div>
    </div>

    <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Call #1.2</h3>
      <div class="media-kit__items-box columns is-multiline">
        <div
          class="media-kit__item column is-one-third is-full-touch u-center-text"
          *ngFor="let item of items.slice(6, items.length)"
        >
          <img
            class="modal-button"
            (click)="openModal(item)"
            attr.data-target="{{ item.modalTarget }}"
            aria-haspopup="true"
            src="{{ item.imageUrl }}"
          />
          <a
            class="button button--small button--download"
            href="{{ item.imageUrl }}"
            download=""
            >Download
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Call #1.3</h3>
      <div class="media-kit__items-box columns is-multiline">
        <div
          class="media-kit__item column is-one-third is-full-touch u-center-text"
          *ngFor="let item of items.slice(6, items.length)"
        >
          <img
            class="modal-button"
            (click)="openModal(item)"
            attr.data-target="{{ item.modalTarget }}"
            aria-haspopup="true"
            src="{{ item.imageUrl }}"
          />
          <a
            class="button button--small button--download"
            href="{{ item.imageUrl }}"
            download=""
            >Download
          </a>
        </div>
      </div>
    </div> -->
    <!-- <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Call #1.4</h3>
      <div class="media-kit__items-box columns is-multiline">
        <div
          class="media-kit__item column is-one-third is-full-touch u-center-text"
          *ngFor="let item of items.slice(6, items.length)"
        >
          <img
            class="modal-button"
            (click)="openModal(item)"
            attr.data-target="{{ item.modalTarget }}"
            aria-haspopup="true"
            src="{{ item.imageUrl }}"
          />
          <a
            class="button button--small button--download"
            href="{{ item.imageUrl }}"
            download=""
            >Download
          </a>
        </div>
      </div>
    </div> -->
    <!-- <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Call #1.</h3>
      <div class="media-kit__items-box columns is-multiline">
        <div
          class="media-kit__item column is-one-third is-full-touch u-center-text"
          *ngFor="let item of items.slice(6, items.length)"
        >
          <img
            class="modal-button"
            (click)="openModal(item)"
            attr.data-target="{{ item.modalTarget }}"
            aria-haspopup="true"
            src="{{ item.imageUrl }}"
          />
          <a
            class="button button--small button--download"
            href="{{ item.imageUrl }}"
            download=""
            >Download
          </a>
        </div>
      </div>
    </div> -->
    <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Call #2.1</h3>
      <span class="heading-tertiary u-is-black-color u-center-text"
        >Coming soon!</span
      >
    </div>
    <!-- <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Call #2.2</h3>
      <span class="heading-tertiary u-is-black-color u-center-text"
        >Coming soon!</span
      >
    </div>
    <div class="media-kit__section">
      <h3 class="media-kit__subheading u-center-text">Call #3</h3>
      <span class="heading-tertiary u-is-black-color u-center-text"
        >Coming soon!</span
      >
    </div> -->
  </div>
</div>

<div *ngFor="let item of items" class="modal" id="{{ item.modalTarget }}">
  <div class="modal-background" (click)="closeModal(item)"></div>
  <div class="modal-content">
    <img src="{{ item.imageUrl }}" />
  </div>
  <button
    class="modal-close is-large"
    (click)="closeModal(item)"
    aria-label="close"
  ></button>
</div>
