<div class="content-page content-page--padding-bottom-small">
  <video
    class="content-page__video"
    poster="../../../assets/res/videos/EXPERIMENT/thumbnail_EXP_SHORT.jpg"
    controls
  >
    <source
      src="https://rr2---sn-aigl6nsr.c.drive.google.com/videoplayback?expire=1643081699&ei=ozfvYa2dMJ3t1bYP_8a0qAs&ip=31.205.210.22&cp=QVRJVUFfUFZXSlhPOmV0Wk0zeDNYNEhnWVRQdmNYdmpfeldTYlBGcVpjcDU5cFg5MmxkRWFNVG8&id=ed6a772390b90642&itag=22&source=webdrive&requiressl=yes&mh=kV&mm=32&mn=sn-aigl6nsr&ms=su&mv=m&mvi=2&pl=20&ttl=transient&susc=dr&driveid=1ei9ygd04bZ8UA3HJq6ky9s2ZBhvi70AZ&app=explorer&mime=video/mp4&vprv=1&prv=1&dur=46.091&lmt=1643065971502514&mt=1643066906&txp=0011224&sparams=expire,ei,ip,cp,id,itag,source,requiressl,ttl,susc,driveid,app,mime,vprv,prv,dur,lmt&sig=AOq0QJ8wRAIgWA57Md9rT_NFsEN2-n_Ms9V2p-CTlyUFGCbBdOnwC2wCIGRQh3n0FQxyqGXi1Jm3uty93z0W05qE4NClX0m08fTI&lsparams=mh,mm,mn,ms,mv,mvi,pl&lsig=AG3C_xAwRAIgZ05SaEZPzfMt0-2UKt3EYJIsGwtZ0vcMPfDbLJtMy8MCIEy5VQmyJqibezsmkE5HbqhycxO_s2JjNMlNST3Qa_PL&cpn=SzKemv4wm1o3q6-K&c=WEB_EMBEDDED_PLAYER&cver=1.20220119.01.00"
      type="video/webm"
    />
    <source
      src="https://rr1---sn-aigzrn7d.c.drive.google.com/videoplayback?expire=1643081523&ei=8zbvYYPmCI6Cpb0Pt4uLmA4&ip=31.205.210.22&cp=QVRJVUFfUFVQRFhPOmV0Wk0ycTdYNEhnWVRQdXZSdmpfeldTYk9Za1pjcDU5cFg4NWZkRWFNVG8&id=fdb3f403e02a9d11&itag=22&source=webdrive&requiressl=yes&mh=2K&mm=32&mn=sn-aigzrn7d&ms=su&mv=m&mvi=1&pl=20&ttl=transient&susc=dr&driveid=1gpkNQUsGJ1GDLsIYFM30gTrgpO0b4l7D&app=explorer&mime=video/mp4&vprv=1&prv=1&dur=46.091&lmt=1643066049280974&mt=1643066666&txp=0011224&sparams=expire,ei,ip,cp,id,itag,source,requiressl,ttl,susc,driveid,app,mime,vprv,prv,dur,lmt&sig=AOq0QJ8wRQIhAPI-yO1pdrUYcZx6g0tqZzBGfFhljgjyuSMD_L4GyTkeAiBAPNKdtbUDwFE7Jux4CVbQ_Ug_8ZESYzllfdf533KiBg==&lsparams=mh,mm,mn,ms,mv,mvi,pl&lsig=AG3C_xAwRAIgJuFS76l0BddHOzX3_Z4CDJ3EnNYlEAhWu4Sn2ciVa0cCICzdNqDASxqt7ZuEWhsnxBQ3mB6E_ChkHqM9MRflX2Ik&cpn=WCWqAd7Tik5EGlEo&c=WEB_EMBEDDED_PLAYER&cver=1.20220119.01.00"
      type="video/mp4"
    />
    Your browser does not support embedded videos.
  </video>
</div>
