<div class="content-page content-page--padding-bottom-small">
  <video
    class="content-page__video"
    poster="../../../assets/res/videos/EXPERIMENT/thumbnail_EXP_SHORT.jpg"
    controls
  >
    <source
      src="https://drive.google.com/uc?export=download&id=1ei9ygd04bZ8UA3HJq6ky9s2ZBhvi70AZ"
      type="video/webm"
    />
    <source
      src="https://drive.google.com/uc?export=download&id=1gpkNQUsGJ1GDLsIYFM30gTrgpO0b4l7D"
      type="video/mp4"
    />
    Your browser does not support embedded videos.
  </video>
</div>
