<div class="content-page content-page--padding-bottom-small">
  <video
    class="content-page__video"
    poster="../../../assets/res/videos/EXPERIMENT/thumbnail_EXP_SHORT.jpg"
    controls
  >
    <source
      src="../../../assets/res/videos/EXPERIMENT/HUBCAP_EXPERIMENT_SHORT.webm"
      type="video/webm"
    />
    <source
      src="../../../assets/res/videos/EXPERIMENT/HUBCAP_EXPERIMENT_SHORT.mp4"
      type="video/mp4"
    />
    Your browser does not support embedded videos.
  </video>
</div>
