<div class="headings" (window:resize)="onResize()">
  <h2
    class="heading-secondary heading-secondary--small u-is-black-color u-center-text u-margin-bottom-small"
  >
    HUBCAP will create new opportunities for SMEs in the vast domains of
    Cyber-Physical Systems
  </h2>
  <h3 class="subtitle subtitle--bold u-center-text u-margin-bottom-medium">
    Are you an SME interested in developing highly innovative CPS solutions?
    Form a consortium and apply to HUBCAP Programme with innovative and
    challenging projects and deploy new CPS solutions using MBD!
  </h3>
</div>

<div class="release__body u-justify-text">
  <h2 class="subtitle u-center-text-tab-port subtitle--bold u-is-blue-color">
    HUBCAP Call #3 - INNOVATE is open for applications until 30 June 2021 at
    17h00 (Brussels Time) CEST!
  </h2>

  <p class="paragraph paragraph--big">
    <a routerLink="/"
      >HUBCAP (Digital Innovation Hubs and Collaborative Platform for
      Cyber-Physical Systems)</a
    >
    is the one-stop-shop for European SMEs wanting to embrace digital innovation
    using Model-Based Design (MBD) technology for Cyber-Physical Systems (CPS).
  </p>
  <p class="paragraph paragraph--big">
    Backed by the
    <a href="https://smartanythingeverywhere.eu/" target="_blank"
      >Smart Anything Everywhere</a
    >
    initiative, this EU funded project builds on seven Digital Innovation Hubs
    (DIHs) across Europe, each embedded in its regional innovation ecosystem,
    offering complementary technical expertise, experimental capabilities and
    specialist knowledge in CPS application domains.
  </p>

  <p class="paragraph paragraph--big">
    <b
      >HUBCAP will organise three series of Open Calls throughout 2020-2022,
      with €3,2 million committed in cascade funding for SMEs, namely: Call #1
      INNOVATE, Call #2 EXPERIMENT and Call #3 INNOVATE.
    </b>
  </p>

  <p class="paragraph paragraph--big">
    HUBCAP has just launched the Open Call #3 INNOVATE: we are currently seeking
    highly innovative collaborations of 2-3 SMEs, that will work together to
    create tools, develop and deploy innovative CPS products and solutions using
    MBD, with the goal of developing new CPS technologies and enlarging the
    value and outreach of the HUBCAP Ecosystem.
  </p>

  <h2 class="subtitle u-center-text-tab-port subtitle--bold u-is-blue-color">
    How does Call #3 INNOVATE work?
  </h2>

  <p class="paragraph paragraph--big">
    The INNOVATE call will fund 10 innovation projects composed by a consortia
    of 2–3 SMEs representing at least one provider SME and one adopter SME, that
    will work towards the development and implementation of highly innovative
    and challenging MBD CPS solutions, which will become part of the HUBCAP
    portfolio of success stories. The INNOVATE call projects will have a total
    duration of 12 months divided in three stages: Design, Develop & Operate,
    Assess. At the end of each phase, each consortium must deliver a report in
    which they will show their progress and milestones achieved. HUBCAP will
    provide technology and business support to assure the highest impact
    possible for each project. The expected outcome will be 10 innovative
    Application Experiments (AEs) by European SMEs, demonstrating the value and
    benefits of HUBCAP MBD CPS technologies in different industry environments.
  </p>

  <h2 class="subtitle u-center-text-tab-port subtitle--bold u-is-blue-color">
    What's in it for SMEs?
  </h2>

  <ol class="release__body__list" type="1">
    <li class="release__body__list__item">
      Funding of up to €200k (per consortium)
    </li>
    <li class="release__body__list__item">
      Coaching and mentoring support from our DIHs
    </li>
    <li class="release__body__list__item">
      Opportunity to connect with other SMEs and organisations from various
      industries
    </li>
    <li class="release__body__list__item">
      Opportunities to access MBD CPS solutions and services provided by
      specialised entities
    </li>
    <li class="release__body__list__item">
      Access to the HUBCAP Community ecosystem
    </li>
    <li class="release__body__list__item">
      Opportunity to reach potential new customers
    </li>
  </ol>
  <div class="images">
    <img
      class="release__body__image"
      (click)="openModal('social')"
      data-target="social"
      aria-haspopup="true"
      src="../../../assets/res/files/HUBCAP_OC3INNOVATE/HUBCAP_SOCIAL_3_INNOVATE_2.jpg"
      alt=""
    />

    <div class="release__body__icon-container u-center-text">
      <img
        src="../../../assets/res/images/innovate.png"
        alt=""
        class="release__body__icon"
      />
      <h3 class="heading-tertiary u-is-black-color">Call #3 INNOVATE</h3>
    </div>
  </div>
  <div class="modal" id="social">
    <div class="modal-background" (click)="closeModal('social')"></div>
    <div class="modal-content">
      <figure class="figure">
        <img
          src="../../../assets/res/files/HUBCAP_OC3INNOVATE/HUBCAP_SOCIAL_3_INNOVATE_2.jpg"
          alt=""
        />
      </figure>
    </div>
    <button
      class="modal-close is-large"
      (click)="closeModal('social')"
      aria-label="close"
    ></button>
  </div>
</div>
