<div
  class="wrapper"
  (window:resize)="onResize()"
  (window:scroll)="checkPosition()"
>
  <h1 class="heading-primary u-center-text u-margin-bottom-medium">
    Official Press Releases
  </h1>
  <div class="releases__list">
    <div
      class="release-box row hidden-slide-in-bottom"
      *ngFor="let release of releases"
    >
      <h3 class="heading-tertiary release-box__heading u-margin-bottom-small">
        {{ release.name }}
      </h3>
      <p class="paragraph paragraph--big release-box__text">
        {{ release.description }}
      </p>
      <a
        href="/{{ release.url }}"
        class="btn-text btn-text--blue release-box__link"
        >{{ release.urlname }}</a
      >
      <div class="release-box__bottom">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100%; width: 100%"
        >
          <path
            d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #fba200"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
