@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 10rem 2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include respond(phone) {
    padding: 2.5rem 2rem;
    padding-bottom: 5rem;
  }

  .success-stories-list {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
  }
}
