<div
  class="wrapper"
  (window:resize)="onResize()"
  (window:scroll)="checkPosition()"
>
  <h1
    class="
      heading-primary
      heading-primary--underlined
      heading-primary--underlined-green
      u-center-text u-margin-bottom-medium
    "
  >
    Success Stories
  </h1>
  <div class="success-stories-list">
    <div
      class="
        success-story-box
        row
        hidden-slide-in-bottom hidden-slide-in-bottom-press
      "
      *ngFor="let story of stories"
    >
      <h3
        class="
          heading-tertiary
          success-story-box__heading
          u-margin-bottom-small
        "
      >
        {{ story.title }}
      </h3>
      <p
        class="
          paragraph paragraph--big
          success-story-box__text
          u-margin-bottom-small
        "
      >
        {{ story.summary }}
      </p>

      <img
        class="modal-button"
        (click)="openModal(story)"
        attr.data-target="{{ story.title }}"
        aria-haspopup="true"
        src="{{ story.image }}"
        alt="{{ story.title }}"
      />
      <a
        href="/success-stories/{{ story.urlName }}"
        rel="noopener noreferrer"
        class="btn-text btn-text--green success-story-box__link"
        >Read Story</a
      >
      <div class="success-story-box__bottom">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100%; width: 100%"
        >
          <path
            d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #91c222"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
<div *ngFor="let story of stories" class="modal" id="{{ story.title }}">
  <div class="modal-background" (click)="closeModal(story)"></div>
  <div class="modal-content">
    <figure class="figure">
      <img src="{{ story.image }}" alt="{{ story.title }}" />
    </figure>
  </div>
  <button
    class="modal-close is-large"
    (click)="closeModal(story)"
    aria-label="close"
  ></button>
</div>
