@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.section-technologies {
  padding: 4.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include respond(phone) {
    padding: 2.5rem 0;
  }

  .intro {
    max-width: 80rem;
    align-self: center;
    padding: 0 2rem;
  }

  .alphabet {
    width: 80%;
    align-self: center;
    margin-left: 0;

    li {
      display: inline-block;
      text-transform: uppercase;
      min-width: 3.3rem;
      width: 3.84%;
      padding: 0 1rem;
      text-align: center;
      margin-bottom: 0.5rem;

      &:not(:last-child) {
        border-right: 2px solid $color-grey-dark;
      }

      a {
        color: $color-blue;
        font-size: 1.7rem;
        font-weight: bold;

        &:hover,
        &:focus {
          color: $color-primary;
        }
      }
    }
  }

  .field {
    margin: 0 auto;

    .control {
      display: flex;
      justify-content: center;
      padding: 0 2rem;

      input {
        font-size: 1.9rem;
        min-width: 30rem;
        margin: 3rem auto;
        margin-bottom: 0;
        align-self: center;
      }
    }
  }

  .settings {
    margin-bottom: 3rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 2.5rem;
      color: $color-black;
    }

    &__container {
      display: flex;
      align-self: center;

      @include respond(phone) {
        flex-direction: column;
      }

      @media screen and (max-width: 300px) {
        max-width: 60%;
      }
    }
    input {
      &.is-checkradio[type="checkbox"] {
        border-width: 1rem !important;
      }
      &.is-checkradio[type="checkbox"] + label {
        font-size: 2rem !important;

        span {
          margin-left: 0.5rem;
          display: inline-block;
          transform: translateY(-0.3rem);
        }

        &::before {
          height: 2rem;
          width: 2rem;
          border-width: 2px !important;
        }

        &::after {
          height: 1rem;
          width: 0.5rem;
          left: 0.8rem;
          font-size: 3rem;
          border-width: 2px !important;
        }
      }
      &.is-checkradio[type="radio"] + label {
        font-size: 2rem !important;

        span {
          margin-left: 0.5rem;
          display: inline-block;
          transform: translateY(-0.3rem);
        }

        &::before {
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
          border-width: 2px !important;
        }

        &::after {
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
        }
      }

      &:not(:first-child) {
        margin-left: 1.5rem;
      }
      &:not(:last-child) {
        margin-right: 0.3rem;
      }
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .heading-secondary {
      text-transform: uppercase;
      display: inline-block;
      color: $color-black;
      width: 10rem;
      align-self: center;
      text-align: center;
      margin: 5rem 0;
      border-bottom: 5px solid $color-teal;
    }
  }
}
