<section
  class="section-technologies"
  (window:resize)="onResize()"
  (window:scroll)="checkPosition()"
>
  <div class="u-center-text u-margin-bottom-medium intro">
    <h1
      class="heading-primary heading-primary heading-primary--underlined heading-primary--underlined-blue"
    >
      Technological Assets List
    </h1>
    <p class="paragraph paragraph--big">
      Here is a complete list of all the available technologies on the HUBCAP
      collaboration platform. To apply with an asset as a non-SME or other
      external entity please visit our
      <a
        [routerLink]="['/external-application']"
        routerLinkActive="router-link-active"
        >external applications page</a
      >.
    </p>
  </div>
  <div class="u-center-text settings">
    <h3 class="heading-tertiary settings__title">Show me:</h3>
    <div class="settings__container">
      <div class="field">
        <input
          type="radio"
          name="technologiesRadio"
          id="modelsR"
          class="is-checkradio"
          value="models"
          [disabled]="showingAll"
          (change)="filterAndInsert($event)"
        />
        <label for="modelsR"><span>Models</span></label>
        <input
          type="radio"
          name="technologiesRadio"
          id="toolsR"
          class="is-checkradio"
          value="tools"
          [disabled]="showingAll"
          (change)="filterAndInsert($event)"
        />
        <label for="toolsR"><span>Tools</span></label>
        <input
          type="radio"
          name="technologiesRadio"
          id="smeR"
          class="is-checkradio"
          value="sme"
          [disabled]="showingAll"
          (change)="filterAndInsert($event)"
        />
        <label for="smeR"><span>SME Assets</span></label>
      </div>
      <div class="field">
        <input
          type="checkbox"
          name="all"
          id="all"
          class="is-checkradio"
          [(ngModel)]="showingAll"
          (change)="filterAndInsert($event)"
        />
        <label for="all"><span>All Assets</span></label>
      </div>
    </div>
  </div>
  <ul class="alphabet">
    <li><a (click)="scrollIntoView('a')">a</a></li>
    <li><a (click)="scrollIntoView('b')">b</a></li>
    <li><a (click)="scrollIntoView('c')">c</a></li>
    <li><a (click)="scrollIntoView('d')">d</a></li>
    <li><a (click)="scrollIntoView('e')">e</a></li>
    <li><a (click)="scrollIntoView('f')">f</a></li>
    <li><a (click)="scrollIntoView('g')">g</a></li>
    <li><a (click)="scrollIntoView('h')">h</a></li>
    <li><a (click)="scrollIntoView('i')">i</a></li>
    <li><a (click)="scrollIntoView('j')">j</a></li>
    <li><a (click)="scrollIntoView('k')">k</a></li>
    <li><a (click)="scrollIntoView('l')">l</a></li>
    <li><a (click)="scrollIntoView('m')">m</a></li>
    <li><a (click)="scrollIntoView('n')">n</a></li>
    <li><a (click)="scrollIntoView('o')">o</a></li>
    <li><a (click)="scrollIntoView('p')">p</a></li>
    <li><a (click)="scrollIntoView('q')">q</a></li>
    <li><a (click)="scrollIntoView('r')">r</a></li>
    <li><a (click)="scrollIntoView('s')">s</a></li>
    <li><a (click)="scrollIntoView('t')">t</a></li>
    <li><a (click)="scrollIntoView('u')">u</a></li>
    <li><a (click)="scrollIntoView('v')">v</a></li>
    <li><a (click)="scrollIntoView('w')">w</a></li>
    <li><a (click)="scrollIntoView('x')">x</a></li>
    <li><a (click)="scrollIntoView('y')">y</a></li>
    <li><a (click)="scrollIntoView('z')">z</a></li>
  </ul>

  <div class="field">
    <div class="control">
      <input
        name="searchTerm"
        class="input is-primary"
        type="text"
        id="searchTerm"
        placeholder="Search via name or domain"
        (keyup)="handleSearch($event)"
      />
    </div>
  </div>

  <div *ngIf="noResults" class="u-center-text u-margin-top-medium">
    <p class="paragraph paragraph--big">No assets match your search.</p>
  </div>

  <div *ngFor="let letter of letters">
    <div class="wrapper" *ngIf="alphabet[letter].length > 0">
      <h2 class="heading-secondary" id="{{ letter }}">{{ letter }}</h2>
      <div
        class="tech hidden-fade-in"
        [class.hidden-fade-in]="!rearranged"
        [class.u-fade-in]="rearranged"
        *ngFor="let tech of alphabet[letter]"
        id="{{ tech.asset_name.toLowerCase().replace(whitespace, '-') }}"
      >
        <div class="tech__top">
          <div class="tech__image">
            <img
              src="{{ tech.logo }}"
              alt="{{ tech.asset_name }}"
              class="tech__image__content"
            />
          </div>

          <div class="tech__basic-info">
            <h3 class="heading-tertiary tech__basic-info__heading">
              {{ tech.asset_name }}
              <span class="custom-tag" *ngIf="!tech.dihAsset">SME Asset</span>
            </h3>

            <p class="tech__basic-info__line">
              <span class="subtitle subtitle--bold subtitle--small"
                >Company:
              </span>
              <a
                href="{{ tech.url }}"
                target="_blank"
                class="tech__basic-info__link"
                >{{ tech.company_name }}</a
              >
            </p>

            <p class="tech__basic-info__line" *ngIf="tech.supported_platforms">
              <span class="subtitle subtitle--bold subtitle--small"
                >Supported platforms:
              </span>
              <span
                *ngFor="let platform of tech.supported_platforms; let i = index"
                >{{ platform
                }}{{
                  i === tech.supported_platforms.length - 1 ? "" : ","
                }}&nbsp;</span
              >
            </p>
            <p class="tech__basic-info__line" *ngIf="tech.modelling_notations">
              <span class="subtitle subtitle--bold subtitle--small"
                >Modelling notation(s):
              </span>
              <span
                *ngFor="let notation of tech.modelling_notations; let i = index"
                >{{ notation
                }}{{
                  i === tech.modelling_notations.length - 1 ? "" : ","
                }}&nbsp;</span
              >
            </p>
            <p class="tech__basic-info__line" *ngIf="tech.related_tools">
              <span class="subtitle subtitle--bold subtitle--small"
                >Related tools:
              </span>
              <span *ngFor="let tool of tech.related_tools; let i = index"
                ><a
                  href="{{ tool.url }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >{{ tool.name }}</a
                >{{
                  i === tech.related_tools.length - 1 ? "" : ","
                }}&nbsp;</span
              >
            </p>
            <p class="tech__basic-info__line" *ngIf="tech.domains">
              <span class="subtitle subtitle--bold subtitle--small"
                >Applicable domains:
              </span>
              <span *ngFor="let domain of tech.domains; let i = index"
                >{{ domain
                }}{{ i === tech.domains.length - 1 ? "" : "," }}&nbsp;</span
              >
            </p>
            <p
              class="tech__basic-info__line"
              *ngIf="
                tech.modelling_lang_tool && tech.modelling_lang_tool.length > 0
              "
            >
              <span class="subtitle subtitle--bold subtitle--small"
                >Modelling language/tool:
              </span>
              <span *ngFor="let lang of tech.modelling_lang_tool; let i = index"
                >{{ lang
                }}{{
                  i === tech.modelling_lang_tool.length - 1 ? "" : ","
                }}&nbsp;</span
              >
            </p>
            <p class="tech__basic-info__line" *ngIf="tech.domain">
              <span class="subtitle subtitle--bold subtitle--small"
                >Domain:
              </span>
              <span>{{ tech.domain }}</span>
            </p>
            <p class="tech__basic-info__line">
              <span class="subtitle subtitle--bold subtitle--small"
                >License type:
              </span>
              <a
                href="{{ tech.license_info_url }}"
                target="_blank"
                rel="noopener noreferrer"
                *ngIf="tech.license_info_url"
                >{{
                  tech.license_info_name
                    ? tech.license_info_name
                    : tech.license_info_url
                }}</a
              >
              <span *ngIf="!tech.license_info_url">{{
                tech.license_info_name
              }}</span>
            </p>
            <p class="tech__basic-info__line" *ngIf="tech.download_link">
              <span class="subtitle subtitle--bold subtitle--small"
                >Download:
              </span>
              <a
                href="{{ tech.download_link }}"
                target="_blank"
                rel="noopener noreferrer"
                >{{ tech.download_link }}</a
              >
            </p>
            <p class="tech__basic-info__line" *ngIf="tech.contact_url">
              <span class="subtitle subtitle--bold subtitle--small"
                >Contact:
              </span>
              <a
                href="{{ tech.contact_url }}"
                target="_blank"
                rel="noopener noreferrer"
                >{{ tech.contact_url }}</a
              >
            </p>
            <p class="tech__basic-info__line" *ngIf="tech.email">
              <span class="subtitle subtitle--bold subtitle--small"
                >Contact:
              </span>
              <a href="mailto:{{ tech.email }}" rel="noopener noreferrer">{{
                tech.email
              }}</a>
            </p>
          </div>
        </div>
        <div class="tech__bottom">
          <p
            class="paragraph paragraph--big tech__description"
            *ngIf="tech.description"
          >
            {{
              tech.showMore
                ? tech.description
                : (tech.description | slice: 0:300)
            }}<span *ngIf="!tech.showMore && tech.description.length > 300"
              >...</span
            >&nbsp;
            <a
              href="javascript:;"
              *ngIf="!tech.showMore && tech.description.length > 300"
              (click)="tech.showMore = true"
              >Show More</a
            >
            <a
              href="javascript:;"
              *ngIf="tech.showMore"
              (click)="tech.showMore = false"
              >Show Less</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
