<app-splash-screen></app-splash-screen>
<div class="wrapper" (window:resize)="onResize()">
  <app-header></app-header>
  <section class="banner-line">
    <img
      class="banner-line__logo"
      *ngIf="width >= 600"
      routerLink="/"
      src="../assets/res/images/logo_hubcap.webp"
      alt="Hubcap Logo"
      onerror="this.onerror=null;
          this.src='../assets/res/images/logo_hubcap.png'"
    />

    <img
      class="banner-line__logo"
      *ngIf="width < 600"
      id="vertical"
      routerLink="/"
      src="../assets/res/images/logo_hubcap.webp"
      alt="Hubcap Logo"
      onerror="this.onerror=null;
          this.src='../assets/res/images/logo_hubcap.png'"
    />
    <div class="banner-line__heading" *ngIf="width >= 600">
      <p>
        Digital Innovation HUBs and Collaborative Platform for Cyber-Physical
        Systems
      </p>
    </div>
  </section>
  <app-navigation></app-navigation>
  <section class="hero is-large" id="hero" *ngIf="width >= 600">
    <swiper
      [config]="config"
      *ngIf="webp && width >= 600"
      class="hero__carousel"
    >
      <img
        *ngFor="let image of images"
        src="{{ image }}"
        alt=""
        class="hero__carousel__content"
      />
    </swiper>
    <!-- <swiper [config]="config" *ngIf="webp && mobile" class="hero__carousel">
      <img
        *ngFor="let image of imagesMobile"
        src="{{ image }}"
        alt=""
        class="hero__carousel__content"
      />
    </swiper> -->
    <swiper
      [config]="config"
      *ngIf="!webp && width >= 600"
      class="hero__carousel"
    >
      <img
        *ngFor="let image of fallbackImages"
        src="{{ image }}"
        alt=""
        class="hero__carousel__content"
      />
    </swiper>
    <!-- <swiper [config]="config" *ngIf="!webp && mobile" class="hero__carousel">
      <img
        *ngFor="let image of fallbacksMobile"
        src="{{ image }}"
        alt=""
        class="hero__carousel__content"
      />
    </swiper> -->

    <div class="hero__body">
      <div class="hero__body__container u-center-text">
        <h1 class="hero__body__title" id="hero-title">
          Join us in the Cyber-Physical Systems revolution!
        </h1>
      </div>
    </div>
  </section>
  <!-- <app-navigation *ngIf="width < 600"></app-navigation> -->
  <!-- <section
    *ngIf="!webp"
    style="
      background: url('../../assets/res/images/grey_bg.jpg') no-repeat center
        center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    "
    class="hero is-large"
    id="hero"
  >
    <div class="hero__body">
      <div class="hero__body__container u-center-text">
        <h1 class="hero__body__title" id="hero-title">
          Join us in the Cyber-Physical Systems revolution!
        </h1>
      </div>
    </div>
  </section> -->

  <div class="main">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <div class="popup-newsletter popup-newsletter--hidden" #popup>
    <div class="popup-newsletter__close" (click)="closePopup()">
      <i class="fas fa-times"></i>
    </div>

    <div class="u-text-left u-margin-bottom-small">
      <h3 class="heading-tertiary popup-newsletter__heading">
        Subscribe to our newsletter!
      </h3>
      <p class="paragraph">
        We will keep you up to date with all news, events and important info
        regarding HUBCAP.
      </p>
    </div>
    <form
      class="popup-newsletter__form"
      (submit)="handleSub()"
      ngNativeValidate
    >
      <div class="control has-icons-left">
        <input
          type="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          placeholder="Email"
          required
          id="emailPopup"
          [(ngModel)]="email"
          name="email"
          class="input is-flat"
        />
        <span class="icon is-small is-left">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
        <p class="popup-newsletter__imprint">
          By submitting your email address you agree to receive emails about
          HUBCAP and SAE. You can unsubscribe at any time.
        </p>
        <button
          id="btn-send"
          type="submit"
          *ngIf="width >= 620"
          class="button is-blue"
        >
          <span id="send" *ngIf="!emailSent">Subscribe</span>
          <i id="check" *ngIf="emailSent" class="fas fa-check u-fade-in"></i>
        </button>
      </div>
      <button
        id="btn-send"
        type="submit"
        *ngIf="width < 620"
        class="button is-blue"
      >
        <span id="send" *ngIf="!emailSent">Subscribe</span>
        <i id="check" *ngIf="emailSent" class="fas fa-check u-fade-in"></i>
      </button>
    </form>
  </div>
  <app-footer></app-footer>
  <button id="backToTop" title="Go to top" (click)="topFunction()">
    <mat-icon>arrow_upward</mat-icon>
  </button>
</div>
