<div
  class="wrapper"
  (window:resize)="onResize()"
  (window:scroll)="checkPosition()"
>
  <div class="opening u-justify-text">
    <h1 class="heading-primary u-center-text">Digital Innovation Hubs</h1>

    <p class="paragraph paragraph--big">
      Our network of Digital Innovation Hubs (DIHs) gives SMEs an easy entry
      route to Model-Based Design (MBD) for Cyber-Physical Systems (CPSs). The
      network offers a comprehensive set of digital innovation services,
      including supporting businesses to experiment, find investments and
      business opportunities, and access skills and training.
    </p>
  </div>
  <figure class="figure">
    <img
      class="modal-button figure__image"
      data-target="imageTwo"
      aria-haspopup="true"
      src="../../assets/res/images/dih.png"
      alt=""
    />
    <figcaption class="figure__caption">
      Our network of Digital Innovation Hubs.
    </figcaption>
  </figure>

  <div class="hub row hidden-fade-in">
    <div class="col-1-of-3 hub__gallery hub__gallery--austria">
      <!-- <swiper [config]="config">
        <div class="hub__gallery__slide" *ngFor="let image of hubs_images[0]">
          <div class="swiper-zoom-container">
            <img class="hub__gallery__slide__image" src="{{ image }}" alt="" />
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </swiper> -->
    </div>
    <div class="col-2-of-3 hub__content">
      <h2 class="hub__name u-center-text">Austria</h2>
      <div class="hub__text u-justify-text-tab-port">
        <p class="paragraph paragraph--big">
          <span class="bold">HUBCAP</span> Austria is hosted by the
          <a target="_blank" href="https://www.v2c2.at/"
            >Virtual Vehicle Research Center</a
          >
          GmbH which is Europe’s largest R&D center for virtual vehicle
          technology with 300 employees. Research priority is the linking of
          numerical simulations and hardware testing, which leads to a powerful
          HW-SW whole system design and automation of testing and validation
          procedures. Following this focus on industry-related research VIRTUAL
          VEHICLE is the innovation catalyst for future vehicle technologies.
        </p>
        <p class="paragraph paragraph--big">
          The international partner network of VIRTUAL VEHICLE consists of
          around 100 national and international industrial partners (OEMs, Tier
          1 and Tier 2 suppliers as well as software providers) as well as over
          40 national and international scientific institutions.
        </p>
        <p class="paragraph paragraph--big">
          Contact <span class="bold">HUBCAP</span> Austria via the
          <a
            href="mailto:info@hubcap.eu?subject=Inquiry%20for%20HUBCAP%20Austria"
            >Service Centre</a
          >.
        </p>
        <!-- <p class="paragraph paragraph--big">
          <span class="hub__info-line">
            <i class="fas fa-map-marker-alt u-is-black-color"></i>Inffeldgasse
            21a. 8010 Graz, Austria
          </span>
          <span class="hub__info-line">
            <i class="fas fa-phone u-is-black-color"></i>
            <a href="tel:+43 316 873 9001">+43 316 873 9001</a>
          </span>
          <span class="hub__info-line">
            <i class="fas fa-at u-is-black-color"></i>
            <a href="mailto:info@v2c2.at">info@v2c2.at</a>
          </span>
          <span class="hub__info-line"
            ><i class="fas fa-globe-europe u-is-black-color"></i
            ><a href="https://www.v2c2.at/" target="_blank"
              >https://www.v2c2.at/</a
            >
          </span>
        </p> -->
      </div>
    </div>
  </div>
  <div class="hub row hidden-fade-in">
    <div
      *ngIf="width < 900"
      class="col-1-of-3 hub__gallery hub__gallery--denmark"
    ></div>
    <div class="col-2-of-3 hub__content">
      <h2 class="hub__name u-center-text">Denmark</h2>
      <div class="hub__text u-justify-text-tab-port">
        <p class="paragraph paragraph--big u-margin-bottom-small">
          <span class="bold">HUBCAP</span> Denmark specialises in software
          engineering for complex Cyber-Physical Systems, including system
          modelling methodologies and tools (Model-Based Design, Vienna
          Development Method), predictive analysis (formal methods, theorem
          proving, and machine learning), and co-simulation. These core areas of
          expertise are seamlessly integrated within Digital Twin platforms.
          Aarhus University’s Digital Innovation Hub provides expertise to its
          collaborators in the areas covered by its two main centres:
          <!-- is based at
          <a target="_blank" href="https://digit.au.dk/">“DIGIT”</a> , Aarhus
          University’s Centre for Digitalisation, Big Data and Data Analytics.
          DIGIT combines engineering expertise with researchers from Computer
          Science, Mathematics, Business and Social Sciences. There are six
          technical focus areas: big data analysis, machine learning, cyber
          security, blockchain, IoT, and CPSs. It provides businesses with a
          platform for developing and adopting digital business models in
          individual companies and across their ecosystems. It helps to
          establish innovative partnerships and strategic alliances, connecting
          researchers with companies, identifying and attracting additional
          funding opportunities and increasing awareness about relevant,
          additional networking activities. -->
        </p>
        <ul class="hub__list">
          <li class="hub__list__item">
            The Centre for Digitalisation, Big Data and Data Analytics (
            <a target="_blank" href="https://digit.au.dk/">“DIGIT”</a>)
          </li>
          <li class="hub__list__item">The AU Centre for Digital Twins.</li>
        </ul>

        <p class="paragraph paragraph--big">
          Contact <span class="bold">HUBCAP</span> Denmark via the
          <a
            href="mailto:info@hubcap.eu?subject=Inquiry%20for%20HUBCAP%20Denmark"
            >Service Centre</a
          >.
        </p>
      </div>
    </div>
    <div
      *ngIf="width > 900"
      class="col-1-of-3 hub__gallery hub__gallery--denmark"
    ></div>
  </div>
  <div class="hub row hidden-fade-in">
    <div class="col-1-of-3 hub__gallery hub__gallery--germany">
    </div>
    <div class="col-2-of-3 hub__content">
      <h2 class="hub__name u-center-text">Germany</h2>
      <div class="hub__text u-justify-text-tab-port">
        <p class="paragraph paragraph--big">
          <span class="bold">HUBCAP</span> Germany is hosted by
          <a target="_blank" href="https://www.fortiss.org/en/">fortiss</a> in
          Munich. fortiss provides expertise in a range of fields including
          model-based software and systems engineering, model-based synthesis,
          design space exploration, analysis and design of dependable systems,
          and software engineering of smart CPS in various domains such as
          automotive, smart energy, or industrial automation. A particular
          emphasis will be laid on the intersection of software engineering and
          the increasingly important field of Artificial Intelligence. To this
          end, HUBCAP Germany builds on the
          <a
            target="_blank"
            href="https://www.fortiss.org/en/about-fortiss/ai-center/munich-innovation-hub-for-applied-ai"
            >Munich Innovation Hub for Applied AI</a
          >, which integrates AI research with innovation support activities for
          entrepreneurs, startups, and SMEs, to foster and accelerate the
          adoption of AI solutions by industry.
        </p>
        <p class="paragraph paragraph--big">
          Contact <span class="bold">HUBCAP</span> Germany via the
          <a
            href="mailto:info@hubcap.eu?subject=Inquiry%20for%20HUBCAP%20Germany"
            >Service Centre</a
          >.
        </p>
      </div>
    </div>
  </div>
  <div class="hub row hidden-fade-in">
    <div
      *ngIf="width < 900"
      class="col-1-of-3 hub__gallery hub__gallery--italy"
    ></div>
    <div class="col-2-of-3 hub__content">
      <h2 class="hub__name u-center-text">Italy</h2>
      <div class="hub__text u-justify-text-tab-port">
        <p class="paragraph paragraph--big">
          <span class="bold">HUBCAP</span> Italy led by Politecnico di Milano,
          is located in Milan, while a satellite centre hosted by Fondazione
          Bruno Kessler is located in Trento. The Milan site focuses on
          manufacturing industry, hosting an Industry 4.0 Lab experimental
          facility, a CPS-based training and experimental facility. The centre
          plays a leading role in the Milan Competence Center (MADE in Italy) of
          the Industry 4.0 Italian National Plan, carrying out experiments in
          Industry 4.0 including CPS manufacturing. The Trento satellite focuses
          on high quality research with impact to market and society, including
          expertise and tools for MBD, verification, validation, and safety
          analysis. Besides the physical spaces, both sites offer services such
          as training courses, support for participating in research projects,
          sharing of utilities costs and IT services.
        </p>
        <p class="paragraph paragraph--big">
          Contact <span class="bold">HUBCAP</span> Italy via the
          <a href="mailto:info@hubcap.eu?subject=Inquiry%20for%20HUBCAP%20Italy"
            >Service Centre</a
          >.
        </p>
      </div>
    </div>
    <div
      *ngIf="width > 900"
      class="col-1-of-3 hub__gallery hub__gallery--italy"
    ></div>
  </div>
  <div class="hub row hidden-fade-in">
    <div class="col-1-of-3 hub__gallery hub__gallery--romania"></div>
    <div class="col-2-of-3 hub__content">
      <h2 class="hub__name u-center-text">Romania</h2>
      <div class="hub__text u-justify-text-tab-port">
        <p class="paragraph paragraph--big">
          <span class="bold">HUBCAP</span> Romania is hosted by Lucian Blaga
          University of Sibiu and will be led by the Connected Intelligence
          Research Center (INCON) complemented by Hasso Plattner Institute for
          Knowledge Transfer (HPI). INCON focuses on theoretical and
          application-driven research for modelling, simulation and deployment
          of cyber physical social systems. It provides a CPS-based experimental
          facility comprising of: a standard Festo MPS500 Didactic System, a
          custom OTG-Usb stick assembly demonstrator (Small Scale I4.0
          Production system), a custom production system for assembling smart
          products (Large Scale I4.0 Production System) and finally a training
          station with Augmented and Virtual Reality for manual operations to
          assemble smart products considering the operator’s state (I4.0
          Training station). HPI is a ULBS foundation established in 2018
          focusing on linking regional companies and clusters (e.g. Smart City
          Sibiu, Cluj IT, PrelMet Transilvania, etc.) to support RDI and
          training in the field of digitisation. It provides RDI and training
          services to all interested organisations based on the INCON
          infrastructure.
        </p>
        <p class="paragraph paragraph--big">
          Contact <span class="bold">HUBCAP</span> Romania via the
          <a
            href="mailto:info@hubcap.eu?subject=Inquiry%20for%20HUBCAP%20Romania"
            >Service Centre</a
          >.
        </p>
      </div>
    </div>
  </div>
  <div class="hub row hidden-fade-in">
    <div
      *ngIf="width < 900"
      class="col-1-of-3 hub__gallery hub__gallery--uk"
    ></div>
    <div class="col-2-of-3 hub__content">
      <h2 class="hub__name u-center-text">United Kindgom</h2>
      <div class="hub__text u-justify-text-tab-port">
        <p class="paragraph paragraph--big u-margin-bottom-small">
          <span class="bold">HUBCAP</span> UK, hosted at Newcastle University,
          offers expertise in MBD for embedded systems and Systems of Systems,
          and a shared programme of research, engagement, innovation and
          technology transfer on digitally enabled urban systems. This cluster
          contains labs on CPS, the
          <a target="_blank" href="https://www.ncl.ac.uk/nicd/"
            >National Innovation Centre for Data</a
          >, and national centres for research and innovation in green
          infrastructure and energy systems integration, an
          <a target="_blank" href="https://urbanobservatory.ac.uk/"
            >Urban Observatory</a
          >, and a “Decision Theatre” exploring human decision-making through
          interaction with large and complex data.
          <span class="bold">HUBCAP</span> UK aims to lower barriers to
          innovation in CPS and CPS-enabled products and services. Its two main
          focuses are:
        </p>
        <ul class="hub__list">
          <li class="hub__list__item">
            Development of application domains in digitally enabled sustainable
            urban systems.
          </li>
          <li class="hub__list__item">
            Support for model-based CPS design by collaborative modelling and
            co-simulation, and transfer of well-founded techniques in the
            engineering of dependable systems into CPS engineering.
          </li>
        </ul>
        <p class="paragraph paragraph--big">
          Contact <span class="bold">HUBCAP</span> UK via the
          <a href="mailto:info@hubcap.eu?subject=Inquiry%20for%20HUBCAP%20UK"
            >Service Centre</a
          >.
        </p>
      </div>
    </div>
    <div
      *ngIf="width > 900"
      class="col-1-of-3 hub__gallery hub__gallery--uk"
    ></div>
  </div>
</div>

<div class="modal" id="imageTwo">
  <div class="modal-background"></div>
  <div class="modal-content">
    <figure class="figure">
      <img class="figure__image" src="../../assets/res/images/dih.png" alt="" />
      <figcaption class="figure__caption">
        Our network of Digital Innovation Hubs
      </figcaption>
    </figure>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
