<div
  class="wrapper"
  (window:resize)="onResize()"
  (window:scroll)="checkPosition()"
>
  <h1
    class="
      heading-primary
      heading-primary--underlined
      heading-primary--underlined-blue
      u-center-text u-margin-bottom-medium
    "
  >
    Latest News
  </h1>

  <div *ngIf="loading" class="wrapper--loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>

  <div class="columns is-multiline hidden-fade-in hidden-fade-in-news">
    <div
      *ngFor="let article of articles; let i = index"
      class="column is-full u-margin-bottom-big"
    >
      <div class="news-item">
        <h2 class="subtitle news-item__heading">
          <a href="{{ article.url }}" target="_blank"> {{ article.title }}</a>
        </h2>
        <h3 class="subtitle subtitle--small news-item__subheading">
          {{ article.displayDate }} | {{ article.type }}
        </h3>
        <p
          class="
            paragraph paragraph--big
            u-margin-bottom-none
            news-item__content
          "
          [ngClass]="{
            'u-margin-bottom-medium': !article.buttonText && !article.thumbnail
          }"
          [innerHTML]="article.summary | linkify"
        ></p>
        <figure class="figure" *ngIf="article.thumbnail">
          <img
            class="modal-button"
            (click)="openModal(article)"
            attr.data-target="{{ article.modalTarget }}"
            aria-haspopup="true"
            src="{{ article.thumbnail }}"
            alt="{{ article.thumbnailAlt }}"
          />
          <figcaption class="figure__caption">{{ article.caption }}</figcaption>
        </figure>
        <iframe
          *ngIf="article.videoURL"
          class="news-item__video"
          [src]="articles[i].videoURL | safeLink"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <span
          *ngIf="article.buttonText"
          [class.u-margin-top-small]="!article.thumbnail"
          [class.u-margin-bottom-small]="article.modalTarget === 'cfe'"
          class="news-item__link"
        >
          <a
            href="{{ article.url }}"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-text btn-text--primary"
            >{{ article.buttonText }}</a
          >
        </span>

        <!-- Exclusively for the CFE posting -->
        <span
          *ngIf="article.modalTarget === 'cfe'"
          class="news-item__link u-margin-top-none"
        >
          <a
            [routerLink]="['/calls/experts']"
            routerLinkActive="router-link-active"
            class="btn-text btn-text--blue"
            >More Info</a
          >
        </span>

        <!--  Exclusively for the CFE posting  -->

        <div class="news-item__bottom">
          <svg
            viewBox="0 0 500 150"
            preserveAspectRatio="none"
            style="height: 100%; width: 100%"
          >
            <path
              d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
              style="stroke: none; fill: #067fc4"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loading && articles.length > 0" class="wrapper--loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div
    *ngIf="!allTweetsLoaded && !loading"
    class="u-center-text wrapper__load-more"
  >
    <a
      href="javascript:void(0)"
      (click)="loadMoreTweets()"
      class="btn-text btn-text--blue"
    >
      Load More
    </a>
  </div>
  <div
    *ngIf="allTweetsLoaded"
    class="u-center-text u-margin-top-medium u-margin-bottom-medium"
  >
    <p class="paragraph paragraph--big">
      Looks like there are no other news beyond this point!
    </p>
  </div>
</div>
<div
  *ngFor="let article of articles"
  class="modal"
  id="{{ article.modalTarget }}"
>
  <div class="modal-background" (click)="closeModal(article)"></div>
  <div class="modal-content">
    <figure class="figure">
      <img src="{{ article.thumbnail }}" alt="{{ article.thumbnailAlt }}" />
      <figcaption class="figure__caption">
        {{ article.caption }}
      </figcaption>
    </figure>
  </div>
  <button
    class="modal-close is-large"
    (click)="closeModal(article)"
    aria-label="close"
  ></button>
</div>
