<section class="section-experts" (window:resize)="onResize()">
  <div class="u-center-text u-margin-bottom-small">
    <h1
      class="
        heading-primary
        heading-primary--underlined
        heading-primary--underlined-green
        has-text-centered
      "
    >
      Call For Experts
    </h1>
  </div>
  <div class="container__intro">
    <!-- <h2 class="subtitle has-text-centered subtitle--announcement">
      Applications now closed | Opening on 15 January 2021
    </h2> -->
    <h2 class="subtitle has-text-centered subtitle--announcement">
      Applications now open | Closing 2 July, 17h CET (Brussels Time)
    </h2>
    <button class="button button--download" (click)="openApplyPage()">
      APPLY NOW
    </button>

    <br />
    <div class="intro">
      <h2 class="subtitle subtitle--bold has-text-centered">
        External Evaluators for HUBCAP Open Call #3 INNOVATE
      </h2>
      <p class="paragraph paragraph--big">
        HUBCAP aims to set up an External Pool of Evaluators (EPE) to support
        the review process of the proposals received from the HUBCAP Call #3
        INNOVATE open call. The EPE gathers a set of recognized experts in
        Model-Based Design (MBD) Cyber-Physical Systems (CPSs) domains selected
        through an open process to ensure transparent and consistent evaluation
        of the proposals.
      </p>
    </div>
  </div>
  <div class="info">
    <div class="info-section">
      <h2 class="subtitle is-bold subtitle--bg-blue subtitle--colored">
        Evaluators profile
      </h2>
      <p class="paragraph paragraph--big">
        We are looking for experts in the Model-Based Design (MBD) tools and
        Cyber-Physical Systems (CPSs) domains with experience in evaluating EU
        funded projects and a proven track record in the technical areas
        corresponding to HUBCAP Call #3 INNOVATE open call.
      </p>
      <p class="paragraph paragraph--big">
        Need more information regarding the open call? Please visit the
        <a
          [routerLink]="['/calls/innovate']"
          routerLinkActive="router-link-active"
          >open call dedicated page</a
        >.
      </p>
    </div>
    <div class="info-section">
      <h2 class="subtitle is-bold subtitle--bg-green subtitle--colored">
        What are the benefits for the evaluators?
      </h2>

      <ol class="info-section__list info-section__list--experts" type="1">
        <li class="info-section__list--experts__item">
          Get to know innovative solutions in the MBD CPS domains
        </li>
        <li class="info-section__list--experts__item">
          Play a role in the selection of SMEs
        </li>
        <li class="info-section__list--experts__item">
          Be reimbursed for evaluation work
        </li>
        <li class="info-section__list--experts__item">Connect with SMEs</li>
        <li class="info-section__list--experts__item">
          Be an important part of the HUBCAP project and related ecosystem
        </li>
      </ol>
    </div>
    <div class="info-section">
      <h2 class="subtitle is-bold subtitle--bg-red subtitle--colored">
        Services required
      </h2>
      <p class="paragraph paragraph--big">
        Services will be carried out remotely and will involve evaluation of the
        applications received, and participation in consensus meetings. All
        evaluators will be required to sign a non-conflict of interest
        declaration and a contract with the HUBCAP project coordinator, before
        being accepted to evaluate a specific application.
      </p>
    </div>
    <div class="info-section">
      <h2 class="subtitle is-bold subtitle--bg-teal subtitle--colored">
        Remuneration
      </h2>
      <p class="paragraph paragraph--big">
        Evaluators will be reimbursed for their time and effort on the basis of
        the number of proposals evaluated, with each proposal corresponding to a
        value of €75, considering 1 hour to evaluate each proposal.
      </p>
      <p class="paragraph paragraph--big">
        Need more information? Feel free to get in touch:
        <a href="mailto:info@hubcap.eu">info@hubcap.eu</a> and we will get back
        to you shortly!
      </p>
    </div>
    <div class="info-section">
      <h2 class="subtitle is-bold subtitle--bg-primary subtitle--colored">
        Important Notice
      </h2>
      <p class="paragraph paragraph--big">
        Please note that this expression of interest to participate in HUBCAP
        Call #3 INNOVATE evaluation as an external expert is NOT binding and
        does NOT constitute any commitment to the HUBCAP project.
      </p>
      <p class="paragraph paragraph--big">
        The selection of the experts to support HUBCAP in the evaluation of the
        HUBCAP Call #3 INNOVATE will be taken at a later stage, since it depends
        on the number of received proposals, their origin, the domain that they
        target as well as the origin of the potential evaluators, their
        affiliations, their expertise, and the balance between various criteria
        (e.g., gender, background, affiliation type, expertise etc.).
        Furthermore, we are obliged to frequently refresh the pool of evaluators
        that provides support on the proposal’s evaluation.
      </p>
    </div>
  </div>
  <div class="u-center-text">
    <!-- <h2 class="subtitle has-text-centered subtitle--announcement">
      Applications now closed | Opening on 15 January 2021
    </h2> -->
    <h2 class="subtitle has-text-centered subtitle--announcement">
      Applications now open | Closing 2 July, 17h CET (Brussels Time)
    </h2>
    <button class="button button--download" (click)="openApplyPage()">
      APPLY NOW
    </button>
  </div>

  <!-- <div class="u-center-text">
    <p class="paragraph paragraph--big">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita ab
      aliquam maiores facere sequi provident libero id quia asperiores, a totam
      reiciendis atque eveniet nulla blanditiis commodi voluptates eum ut? Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis voluptate
      eligendi expedita ullam ipsam recusandae accusantium similique iusto
      officiis earum magnam temporibus dicta aliquid cum ex, sapiente debitis
      modi impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Animi at, obcaecati nihil id deleniti natus, praesentium totam et aperiam
      neque autem laborum accusantium recusandae deserunt, doloremque distinctio
      tempore. Assumenda, maxime.
    </p>
  </div> -->
</section>
