<div class="wrapper" (window:resize)="onResize()">
  <div class="row">
    <div class="col-1-of-2">
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h1 class="heading-primary main-title">Services</h1>

        <p class="paragraph paragraph--big u-margin-bottom-small">
          <span class="bold">HUBCAP</span> partners offer a variety of services
          described below. Please contact the Service Centre who will direct
          your query:
        </p>
        <p class="paragraph paragraph--big">
          Service Centre: <a href="mailto:info@hubcap.eu">info@hubcap.eu</a>
        </p>
      </div>
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h3 class="subtitle is-bold subtitle--colored u-margin-bottom-small">
          Knowledge Services
        </h3>
        <p class="paragraph paragraph--big">
          From awareness-raising to training and skills development for
          model-based CPS engineering. We will be offering information events,
          seminars, and training courses on the
          <span class="bold">HUBCAP</span> technologies and tools.
        </p>
      </div>
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h3
          class="subtitle is-bold subtitle--bg-teal subtitle--colored u-margin-bottom-small"
        >
          Technology Services
        </h3>
        <p class="paragraph paragraph--big">
          These enable hands-on experience on
          <span class="bold">HUBCAP</span> technologies, provided through
          support for SMEs engaged in Open Call (OC) experiments and by
          organising practical labs such as hackathons for the rapid prototyping
          of use cases. We can help match your SME with the right expertise and
          tools for model-based design, verification, validation, and safety
          analysis.
        </p>
      </div>
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h3
          class="subtitle is-bold subtitle--bg-blue subtitle--colored u-margin-bottom-small"
        >
          Fast Prototyping and Validation
        </h3>
        <p class="paragraph paragraph--big">
          Our
          <a href="/platform">platform</a> allows CPS solutions to be prototyped
          and validated using cloud technologies in a “sandboxed” environment,
          which requires no installation for the user, and where models selected
          from catalogues can be combined with legacy models from the end-user.
          Sandboxed services will be implemented in our
          <span class="bold">HUBCAP</span> collaboration platform and will
          provide functionalities such as CPS multi-modelling, co-simulation,
          monitoring and analytics, composition and orchestration, enhanced with
          protection mechanisms to ensure the security and privacy of the data
          exchanged within the collaboration platform.
        </p>
      </div>
    </div>
    <div class="col-1-of-2">
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h3
          class="subtitle is-bold subtitle--bg-green subtitle--colored u-margin-bottom-small"
        >
          Ecosystem Building
        </h3>
        <p class="paragraph paragraph--big">
          These services will help you reach out to stakeholders, businesses,
          government and expertise in the regions round our Digital Hubs, to
          help needs and demands with offers and opportunities. We will do this
          through community events for stakeholders from industry, research, or
          finance, and ideation events, e.g. based on design thinking, to inform
          and implement the services provided by
          <span class="bold">HUBCAP</span>, and encouraging follow-up
          collaboration of the participants.
        </p>
      </div>
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h3
          class="subtitle is-bold subtitle--bg-red subtitle--colored u-margin-bottom-small"
        >
          Access to Market and Funding
        </h3>
        <p class="paragraph paragraph--big">
          Your SME get help to access funding opportunities for your development
          projects. We will share information about different funding
          opportunities involving companies, funding agencies and investors, or
          potential research and innovation projects. Events are organised to
          share information about possible public or private funding
          opportunities, available from both within the DIH region and
          nationally/internationally, e.g. in the
          <span class="bold">HUBCAP</span> DIH network.
        </p>
      </div>
    </div>
  </div>
</div>
