@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variables";

.wrapper {
  width: 100%;
  height: 100%;
  padding: 10rem 2rem;
  padding-top: 4.2rem;
  max-width: 120rem;
  margin: 0 auto;

  @include respond(tab-port) {
    padding: 10rem 0;
  }

  @include respond(phone) {
    padding: 2.5rem 0;
  }

  .row {
    .col-1-of-2 {
      div {
        @include respond(tab-port) {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

h1 {
  display: block;

  @include respond(tab-port) {
    align-self: center;
    text-align: center;
  }
}

h3.subtitle {
  text-align: left !important;

  @include respond(phone) {
    text-align: center !important;
    align-self: center;
    border-top-right-radius: 0;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    max-width: 80%;
    margin-bottom: 2rem !important;
  }
}

ul {
  margin-left: 2.5rem;
  list-style-type: disc;
}
