@import "../abstracts/variables";
@import "../abstracts/mixins";

.paper {
  display: flex;
  flex-direction: column;
  // border-bottom: 0.3rem solid $color-blue;
  padding-bottom: 1rem;
  max-width: 90rem;
  align-self: flex-start;

  @include respond(tab-port) {
    margin: 0 2rem;
  }

  &:not(:last-child) {
    margin-bottom: 10rem;
  }

  &__title {
    font-size: 2.3rem;
    font-weight: bold;
  }

  &__authors {
    color: $color-black;
    font-size: 1.9rem;
  }

  &__year {
    font-size: 1.9rem;
  }

  &__publisher {
    font-size: 1.9rem;
  }
}
