@import "../abstracts/variables";
@import "../abstracts/mixins";

.release-box {
  position: relative;
  &.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 70rem;
    padding: 3rem 2rem;
    padding-bottom: 10rem;
    border-radius: 3px;
    border: 3px solid $color-primary;
    box-shadow: 0 1rem 3rem rgba($color: $color-black, $alpha: 0.5);
    transition: all 0.3s;
  }

  &__bottom {
    height: 10rem;
    overflow: hidden;
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 100.5%;
  }

  &:hover,
  &:focus {
    transform: translateY(-1rem);
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.5);
  }

  // &::after {
  //   content: "";
  //   display: block;
  //   width: 101%;
  //   height: 20rem;
  //   position: absolute;
  //   bottom: -1px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   background-color: $color-primary;
  //   clip-path: polygon(
  //     100% 74%,
  //     100% 100%,
  //     0 100%,
  //     0 76%,
  //     23% 89%,
  //     52% 79%,
  //     75% 88%,
  //     87% 81%
  //   );
  // }

  &__heading {
    color: $color-black;
  }

  &__text {
  }

  &__link {
    display: inline-block;
    max-width: fit-content;
    align-self: center;
    &:link,
    &:active,
    &:visited {
      font-size: 2.3rem;
    }
  }
}
