@import "../abstracts/variables";
@import "../abstracts/mixins";

.headings {
  margin-bottom: 7rem;
}

.release {
  &__body {
    display: flex;
    flex-direction: column;

    .images {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-top: 5px solid $color-blue;
      margin-top: 3rem;

      @include respond(tab-port) {
        flex-direction: column-reverse;
      }
    }

    &__image {
      max-width: 70rem;
      max-height: 35rem;
      width: 60%;
      margin-top: 5rem;
      border-radius: 5px;
      cursor: pointer;

      @include respond(tab-port) {
        width: 100%;
        align-self: center;
      }
    }

    &__icon-container {
      display: flex;
      flex-direction: column;
      transform: translate(-12rem, 2rem);

      h3 {
        font-size: 3.7rem;
      }

      @include respond(big-tab-land) {
        transform: translateX(0);
      }
      @include respond(tab-port) {
        transform: translateX(0);
      }
    }

    &__icon {
      max-width: 30rem;
      max-height: 30rem;
      align-self: center;
      transition: all 0.3s;

      &:hover,
      &:focus {
        transform: translateY(-1rem) scale(1.1);
      }

      @include respond(tab-port) {
        width: 100%;
        max-width: 30rem;
        max-height: 30rem;
        align-self: center;
      }
      @include respond(phone) {
        max-width: 25rem;
        max-height: 25rem;
      }
    }

    .subtitle {
      border-bottom: 3px solid $color-blue;
      display: inline-block;
      padding-bottom: 0.5rem;
      align-self: flex-start;

      @include respond(phone) {
        align-self: center;
      }
    }

    &__list {
      font-size: 2rem;
      &__item {
      }
    }
  }
}
