@import "../abstracts/variables";
@import "../abstracts/mixins";

.success-stories-slide {
  cursor: grab;

  &__content {
    // height: 20rem;
    // width: 20rem;
    padding: 1.5rem 2rem;
    margin: 5rem 1rem;
    margin-bottom: 6rem;
    border-radius: 1rem;
    background-color: $color-grey-light-2;
    box-shadow: 0 0.5rem 1rem rgba($color: $color-black, $alpha: 0.3);

    &__title {
      //   margin: 1rem 0;
      margin-bottom: 3rem;
      font-size: 2rem !important;
    }

    &__link {
      font-size: 1.7rem;

      @include respond(phone) {
        font-size: 1.9rem;
      }
    }
  }
}
