@import "../abstracts/variables";
@import "../abstracts/mixins";

.success-story {
  width: 100%;
  height: 100%;
  min-height: 70rem;
  max-width: 120rem;
  margin: auto;
  // margin-bottom: 7rem;

  padding: 4rem 2rem;
  //   padding-bottom: 10rem;
  //   padding-bottom: ;

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }

  &__title {
    display: block;
    width: fit-content;
    text-align: center;
    margin: auto;
    margin-bottom: 5rem;
  }

  &__image-box {
    float: none;
    shape-outside: border-box;
    border-radius: 1rem;
    max-width: fit-content;
    padding-right: 4rem;
    //margin-top: 2rem;
    margin: auto;
    display: block;
    @include respond(tab-port) {
      float: none;
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto !important;
      padding: 0 !important;
    }
  }

  &__top-right {
    float: right;
    shape-outside: border-box;
    border-radius: 0.3rem;
    max-width: 50rem;
    padding-left: 4rem;
    margin-top: 5rem;

    @include respond(tab-port) {
      float: none;
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto !important;
      padding: 0 !important;
    }
  }

  &__image {
    margin: 0 !important ;
    margin-bottom: 2rem !important;
    border-radius: 1rem;
  }

  &__info-box {
    margin-bottom: 3rem;
    border-style: solid;
    border-width: 0.3rem;
    // background-color: $color-primary;
    padding: 2rem 3rem;
    border-radius: 1rem;
    width: fit-content;

    &__line {
      font-size: 1.9rem;
    }
  }

  &__sections {
    align-self: center;
    display: flex;
    flex-direction: column;
    display: inline-block;
  }

  &__section {
    text-align: justify;

    &:not(:last-child) {
      margin-bottom: 4rem;
    }
    &__heading {
    }
  }

  &__pullquote {
    font-size: 3rem !important;
    position: relative;
    display:inline-block;
    margin: 0em;
    padding: 0.5em 2em 0.5em 3em;
  }

  /* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
  &__pullquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
  }

  &__pullquote:after {
    font-family: Georgia, serif;
    position: absolute;
   /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
    float:right;
    font-size:6em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
  }

  &__pullquote footer {
    padding: 0 2em 0 0;
    text-align:right;
    clear: both;
  }

  &__pullquote cite:before {
    content: "\2013";
  }

  &__quotecolor {
    color: $color-green;
  }

  &__infobordercolor {
    border-color: $color-teal;
  }

  &__impactbordercolor {
    border-color: $color-primary;
  }

  &__video {
    align-self: center;
    display: flex;
    justify-content: center;
    //width: 100%;
  }
}
