<div class="wrapper">
  <div class="u-center-text">
    <h1 class="heading-primary">Platform</h1>

    <p class="paragraph paragraph--big">
      The <span class="bold">HUBCAP</span> platform will be an open, cloud-based
      innovation platform that will enable businesses to contribute and access
      assets needed to undertake Model-Based Design (MBD) for building
      Cyber-Physical System (CPS) solutions on the scale required for SMEs.
      Assets will include both models and services, and will be made available
      on a pay-per-use basis to allow businesses to manage their investment in
      MBD technology and to promote experimentation.
    </p>
    <p class="paragraph paragraph--big">
      More details on the platform coming soon!
    </p>
  </div>
</div>
