<div class="wrapper" (window:resize)="onResize()">
  <div class="row">
    <div class="col-1-of-2">
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h1 class="heading-primary">Project Details</h1>

        <p class="paragraph paragraph--big">
          <span class="bold">HUBCAP</span> is an Innovation Action supported by
          the European Union's Horizon 2020 research and innovation programme
          (contract No 872698) and by the Commissioned Research of National
          Institute of Information. The action is delivered by a consortium of
          SMEs, innovation organisations and research institutions committed to
          developing a sustainable network of businesses, Digital Innovation
          Hubs (DIHs) and other actors to encourage suppliers and users of
          Cyber-Physical Systems (CPSs) models and Model- Based Design (MBD)
          tools to meet and collaborate.
        </p>
      </div>
      <figure class="figure">
        <img
          class="modal-button"
          data-target="imageTwo"
          aria-haspopup="true"
          src="../../assets/res/images/hubcap_system.png"
          alt=""
        />
        <figcaption class="figure__caption">
          Our network of Digital Innovation Hubs
        </figcaption>
      </figure>
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h3 class="heading-tertiary">Project Partners</h3>
        <p class="paragraph paragraph--big">
          <span class="bold">HUBCAP</span> brings together 17 partners across 10
          countries, each playing a vital role in delivering the
          <span class="bold">HUBCAP</span> vision.
        </p>
      </div>
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h3 class="subtitle is-bold subtitle--bg-red subtitle--colored">
          Digital Innovation Hubs
        </h3>
        <p class="paragraph paragraph--big u-margin-bottom-small">
          Our seven
          <a href="/digital-innovation-hubs">DIHs</a>
          are supported by eight partners and provide access to expertise and
          training for SMEs to get started with the ecosystem and its
          technologies. The DIHs are led by:
        </p>
        <ul class="list">
          <li class="list__item">Aarhus University (AU), Denmark</li>
          <li class="list__item">Newcastle University (UNEW), UK</li>
          <li class="list__item">Fortiss GmbH (FOR), Germany</li>
          <li class="list__item">
            Virtual Vehicle Research Center (VV), Austria
          </li>
          <li class="list__item">Fondazione Bruno Kessler (FBK), Italy</li>
          <li class="list__item">
            KTH Royal Institute of Technology (KTH), Sweden
          </li>
          <li class="list__item">
            University “Lucian Blaga” of Sibiu (ULBS), Romania
          </li>
          <li class="list__item">Politecnico di Milano (POLIMI), Italy</li>
        </ul>
      </div>
    </div>
    <div class="col-1-of-2">
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h3 class="subtitle is-bold subtitle--colored">Open Calls</h3>
        <p class="paragraph paragraph--big u-margin-bottom-small">
          Our
          <a href="/open-calls">open calls</a>
          will support SMEs around Europe to join the
          <span class="bold">HUBCAP</span> ecosystem and experiment with MBD
          technologies for CPS. Our calls are managed by:
        </p>
        <ul class="list">
          <li class="list__item">F6S Network Limited (F6S), Ireland</li>
        </ul>
      </div>
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h3 class="subtitle is-bold subtitle--bg-green subtitle--colored">
          Seed SME
        </h3>
        <p class="paragraph paragraph--big u-margin-bottom-small">
          Our six seed SMEs act as the leaders in creating our innovation
          ecosystem:
        </p>
        <ul class="list">
          <li class="list__item">Unparallel Innovation (UNP), Portugal</li>
          <li class="list__item">Controllab Products (CLP), Netherlands</li>
          <li class="list__item">BEIA Consult (BEIA), Romania</li>
          <li class="list__item">
            Verified Systems International (VSI), Germany
          </li>
          <li class="list__item">Validas (VAL), Germany</li>
          <li class="list__item">
            Technology Transfer Systems srl (TTS), Italy
          </li>
        </ul>
      </div>
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h3 class="subtitle is-bold subtitle--bg-teal subtitle--colored">
          Model-Based Design
        </h3>
        <br />
        <p class="paragraph paragraph--big u-margin-bottom-small">
          The MBD expertise in <span class="bold">HUBCAP</span> includes
          experiences from the Modelica foundation and its support of the
          Functional Mock-up Interface (FMI) standard. This area of our business
          is led by:
        </p>
        <ul class="list">
          <li class="list__item">
            Research Institutes of Sweden AB (RISE), Sweden
          </li>
        </ul>
      </div>
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h3 class="subtitle is-bold subtitle--bg-blue subtitle--colored">
          Collaborative Platform
        </h3>
        <p class="paragraph paragraph--big u-margin-bottom-small">
          Our
          <a href="/platform">collaborative platform</a>
          will give access to MBD technologies and act as a gateway for new and
          existing members of the ecosystem. It is led by:
        </p>
        <ul class="list">
          <li class="list__item">
            Engineering Ingegneria Informatica S.p.A. (ENGIT), Italy
          </li>
        </ul>
      </div>
      <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h2 class="heading-tertiary">Project Coordinator</h2>
        <p class="paragraph paragraph--big u-margin-bottom-small">
          Prof. Peter Gorm Larsen <br />
          Department of Engineering, Aarhus University <br />
          Finlandsgade 22,<br />
          DK-8200 Aarhus N <br />
          Denmark
        </p>
        <p class="paragraph paragraph--big">
          Email: <a href="mailto:pgl@eng.au.dk">pgl@eng.au.dk</a>
        </p>
      </div>
      <!-- <div class="u-justify-text-tab-port u-margin-bottom-medium">
        <h2 class="subtitle">Public Deliverables</h2>
        <h2 class="subtitle subtitle--small subtitle--bold u-is-black-color">
          M2
        </h2>
        <ul class="list list--no-dec">
          <li class="list__item list__item--no-dec">
            <a href="../../assets/res/files/D7.1.pdf" download>
              D7.1 HUBCAP Visual Identity and Templates
            </a>
          </li>
        </ul>
        <h2 class="subtitle subtitle--small subtitle--bold u-is-black-color">
          M6
        </h2>
        <ul class="list list--no-dec">
          <li class="list__item list__item--no-dec">
            <a
              href="../../assets/res/files/D 4.2 Open Call Documentation KIT.pdf"
              download
            >
              D4.2 Open Call Documents KIT
            </a>
          </li>
          <li class="list__item list__item--no-dec">
            <a
              href="../../assets/res/files/D5.1 HUBCAP Collaboration Platform Prototype_SUB.pdf"
              download
            >
              D5.1 HUBCAP Collaboration Platform Prototype
            </a>
          </li>
          <li class="list__item list__item--no-dec">
            <a href="../../assets/res/files/HUBCAP_D6.1.pdf" download>
              D6.1 The Initial HUBCAP Models
            </a>
          </li>
        </ul>
        <h2 class="subtitle subtitle--small subtitle--bold u-is-black-color">
          M9
        </h2>
        <ul class="list list--no-dec">
          <li class="list__item list__item--no-dec">
            <a
              href="../../assets/res/files/D6.2 - The Initial HUBCAP Model-Based Services.pdf"
              download
            >
              D6.2 The Initial HUBCAP Model-Based Services
            </a>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
  <h2 class="heading-tertiary u-center-text">Public Deliverables</h2>
  <table class="deliverables">
    <tr class="deliverable deliverable--header">
      <th class="deliverable__column">No.</th>
      <th class="deliverable__column">Name</th>
      <th class="deliverable__column">Due month</th>
    </tr>
    <tr class="deliverable" *ngFor="let item of deliverables">
      <td class="deliverable__column">{{ item.number }}</td>
      <td class="deliverable__column">
        <a href="{{ item.link }}" target="_blank">
          {{ item.name }}
        </a>
      </td>
      <td class="deliverable__column">{{ item.month }}</td>
    </tr>
    <tr class="deliverable deliverable--footer">
      <td class="deliverable__column">&nbsp;</td>
      <td class="deliverable__column">&nbsp;</td>
      <td class="deliverable__column">&nbsp;</td>
    </tr>
  </table>
  <div class="modal" id="imageTwo">
    <div class="modal-background"></div>
    <div class="modal-content">
      <figure class="figure">
        <img src="../../assets/res/images/hubcap_system.png" alt="" />
        <figcaption class="figure__caption">
          Our network of Digital Innovation Hubs
        </figcaption>
      </figure>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</div>
