@import "../../assets/res/sass/abstracts/variables";
@import "../../assets/res/sass/abstracts/mixins";

.wrapper {
  width: 100%;
  height: 100%;
  padding: 10rem 2rem;
  padding-top: 4.2rem;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include respond(tab-port) {
    padding: 10rem 0;
  }

  @include respond(phone) {
    padding: 2.5rem 0;
  }

  .heading-primary {
    text-align: left;

    @include respond(tab-port) {
      text-align: center;
    }
  }

  .heading-tertiary {
    text-align: left;
    display: block !important;

    @include respond(tab-port) {
      text-align: center !important;
      margin: 2rem auto !important;
    }
  }

  .list {
    list-style-type: none;
    font-size: 2rem;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 3rem;

    @include respond(tab-port) {
      align-self: center;
      display: inline !important;
      text-align: center;
    }

    &--no-dec {
      @include respond(tab-port) {
        margin-left: 0;
        align-self: flex-start;
        display: inline-block !important;
        text-align: left;
      }
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &:hover,
      &:focus {
        &::before {
          transform: translateY(-1rem);
        }
      }

      &::before {
        content: "\01F4CD";
        font-weight: bold;
        display: inline-block;
        margin-right: 1rem;
        width: 1em;
        margin-left: -1em;
        transition: all 0.3s;
      }

      &--no-dec {
        &::before {
          content: "";
        }
      }
    }
  }

  h3.subtitle {
    text-align: left !important;

    @include respond(phone) {
      text-align: center !important;
      align-self: center;
      border-top-right-radius: 0;
      border-top-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
      max-width: 80%;
      margin-bottom: 2rem !important;
    }
  }

  .col-1-of-2 {
    div {
      @include respond(tab-port) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .deliverables {
    border-radius: 3px;
    margin-top: 2rem;
    overflow: hidden;
    align-self: center;

    .deliverable {
      font-size: 1.9rem;

      &:last-child {
        .deliverable__column {
          border-bottom: none;
        }
      }

      &__column {
        vertical-align: middle;
        border-bottom: 2px solid $color-grey-dark;
        padding: 0.3rem 2rem;

        &:not(:nth-child(2)) {
          text-align: center;
        }

        &:not(:last-child) {
          border-right: 2px solid $color-grey-dark;
        }
      }

      &--header {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        overflow: hidden;
        background-color: $color-primary;

        .deliverable__column {
          color: $color-white;
          font-weight: bold;
        }
      }

      &--footer {
        background-color: $color-blue;

        .deliverable__column {
          border: none;
        }
      }
    }
  }
}
