<div class="container">
  <img class="icon" src="../../assets/res/images/innovate.png" />
  <h1 class="heading-primary main-title has-text-centered">Call #3 INNOVATE</h1>

  <div class="container__intro u-margin-bottom-big">
    <h2 class="subtitle has-text-centered">APPLICATIONS COMING SOON!</h2>
    <button class="button button--download" disabled (click)="openApplyPage()">
      APPLY NOW TO CALL #3.1
    </button>
    <div class="intro u-margin-top-medium">
      <p class="paragraph paragraph--big">
        The INNOVATE call provides up to €200,000 to support consortia of SMEs
        to deploy new products and demonstrate highly innovative collaborations
        using the HUBCAP platform. Funding supports a project of 12 months’
        duration.
      </p>
      <p class="paragraph paragraph--big">
        There will be one INNOVATE call during the project, with a deadline in:
      </p>
    </div>

    <ul class="dates__list">
      <li class="dates__list__item">April 2021</li>
    </ul>
  </div>
  <h2 class="subtitle has-text-centered">APPLICATIONS COMING SOON!</h2>

  <button class="button button--download" disabled (click)="openApplyPage()">
    APPLY NOW TO CALL #3.1
  </button>
</div>
