<div class="container" (window:resize)="onResize()">
  <div class="container__top">
    <h1
      class="heading-primary heading-primary--underlined heading-primary--underlined-orange has-text-centered"
    >
      Call #1 PULL
    </h1>
    <img class="icon" src="../../assets/res/images/pull.png" />

    <h2 class="subtitle has-text-centered subtitle--announcement">
      Applications now closed | Opening on 1 April 2021
    </h2>
  </div>

  <div class="container__intro">
    <button
      disabled
      class="button button--download u-margin-bottom-medium"
      (click)="openApplyPage()"
    >
      APPLY NOW TO CALL #1.3
    </button>

    <div class="intro">
      <p class="paragraph paragraph--big">
        Is your SME/midcap providing digital technologies? Join the HUBCAP
        programme and we will help you with the process of finding new customers
        and selling your assets.
      </p>
      <p class="paragraph paragraph--big">
        Call #1 - PULL aims to attract and engage Europeans SMEs/midcaps to join
        and integrate existing Cyber-Physical Systems and Model-Based Design
        tools in the HUBCAP Collaboration Platform.
      </p>
      <p class="paragraph paragraph--big u-margin-bottom-small">
        During 2020-2022, there will be five PULL open calls, with the following
        preliminary opening dates - stay tuned:
      </p>
    </div>
    <ul class="dates__list">
      <li class="dates__list__item dates__list__item--closed">April 2020</li>
      <li class="dates__list__item dates__list__item--closed">October 2020</li>
      <li class="dates__list__item">April 2021</li>
      <li class="dates__list__item">November 2021</li>
      <li class="dates__list__item">February 2022</li>
    </ul>
  </div>

  <div class="info">
    <div class="info-section">
      <h2 class="subtitle is-bold subtitle--bg-teal subtitle--colored">
        Who are we looking for?
      </h2>
      <p class="paragraph paragraph--big">
        HUBCAP is looking for European SMEs/midcaps providing CPS and MBD assets
        & tools. Such digital technologies may be applied to any sector domain
        (Mobility, Industry, Health, Energy, Environment, Robotics, etc.), to
        enrich our innovative and sustainable cloud-based open collaboration
        platform!
      </p>
    </div>
    <div class="info-section">
      <h2 class="subtitle is-bold subtitle--bg-blue subtitle--colored">
        How does Call #1 PULL work?
      </h2>
      <p class="paragraph paragraph--big">
        Each PULL call provides a mini-grant of €1,000 to help individual SMEs
        integrate existing CPS and MBD tools in the HUBCAP collaboration
        platform. The asset integration is supported by the DIHs through the
        participation in workshops. SMEs are invited to define the price
        structure for their assets and will thus benefit from exposure in the
        HUBCAP marketplace, as well as the opportunity to find new customers and
        participate in the subsequent EXPERIMENT and INNOVATE calls.
      </p>
    </div>
    <div class="info-section">
      <h2 class="subtitle is-bold subtitle--bg-green subtitle--colored">
        What's in it for SMEs?
      </h2>

      <ol class="info-section__list" type="1">
        <li class="info-section__list__item">
          The opportunity to integrate their MBD CPS products, services and
          technologies within the HUBCAP ecosystem offering
        </li>
        <li class="info-section__list__item">
          The chance to reach potential new customers and collaborators and to
          participate in funded HUBCAP experiments and innovations
        </li>
        <li class="info-section__list__item info-section__list__item--indented">
          A lump sum of 1000€ (per SME)
        </li>
        <li class="info-section__list__item">
          Access to a sustainable ecosystem of stakeholders active in multiple
          CPS domains (Mobility, Industry, Health, Energy, Environment,
          Robotics, etc.)
        </li>
        <li class="info-section__list__item">
          Access to support services and workshops with our DIHs
        </li>
      </ol>
    </div>
    <div class="info-section">
      <h2 class="subtitle subtitle--colored is-bold subtitle--bg-red">
        Where can I read all open call details?
      </h2>
      <p class="paragraph paragraph--big u-margin-bottom-small">
        Make sure to read carefully the documentation kit (includes the
        programme guidelines) before applying.
      </p>
      <div class="downloads">
        <button
          class="button button--primary button--small"
          download
          href="../../assets/res/files/HUBCAP_OC1-3PULL/HUBCAP Call 1-3 PULL Documentation KIT.pdf"
        >
          Call #1.3 Documentation Kit
        </button>
        <button
          class="button button--primary button--small"
          download
          href="../../assets/res/files/HUBCAP_OC1-3PULL/HUBCAP_OC1-3PULL_ANNEXES.zip"
        >
          Call #1.3 Editable Annexes
        </button>
        <!-- <a
          class="button button--primary button--small"
          href="../../assets/res/files/HUBCAP_OC1-3PULL/HUBCAP_CALL1-2_PULL_web.pdf"
          download
          >Download our Call #1.3 flyer</a
        > -->
      </div>
    </div>
    <div class="info-section">
      <p class="paragraph paragraph--big u-center-text u-margin-bottom-small">
        Have questions? Get in touch to find out more and an expert from one of
        our Digital Innovation Hubs will gladly answer any questions, provide
        advice and support you through the whole process.
      </p>
      <a
        href="mailto:info@hubcap.eu?subject=Open Call #1 PULL Query"
        class="button button--primary u-margin-bottom-small"
      >
        FIND OUT MORE
      </a>
    </div>
  </div>

  <div class="buttons u-center-text">
    <button disabled class="button button--download" (click)="openApplyPage()">
      APPLY NOW TO CALL #1.3
    </button>
    <br />
    <h2 class="subtitle has-text-centered subtitle--announcement">
      Applications now closed | Opening on 1 April 2021
    </h2>
  </div>
</div>
