<div class="wrapper" (window:resize)="onResize()">
  <h1
    class="heading-primary heading-primary--underlined heading-primary--underlined-darkblue"
  >
    Project Outputs
  </h1>
  <section class="section-deliverables u-margin-top-medium">
    <h2 class="heading-tertiary u-is-black-color u-center-text">
      Public Deliverables
    </h2>
    <table class="deliverables">
      <tr class="deliverable deliverable--header">
        <th class="deliverable__column">No.</th>
        <th class="deliverable__column">Name</th>
        <th class="deliverable__column">Due month</th>
      </tr>
      <tr class="deliverable" *ngFor="let item of deliverables">
        <td class="deliverable__column">{{ item.number }}</td>
        <td class="deliverable__column">
          <a href="{{ item.link }}" target="_blank">
            {{ item.name }}
          </a>
        </td>
        <td class="deliverable__column">{{ item.month }}</td>
      </tr>
      <tr class="deliverable deliverable--footer">
        <td class="deliverable__column">&nbsp;</td>
        <td class="deliverable__column">&nbsp;</td>
        <td class="deliverable__column">&nbsp;</td>
      </tr>
    </table>
  </section>
  <section>
    <div
      class="wrapper"
      (window:resize)="onResize()"

    >
      <h1
        class="heading-primary heading-primary heading-primary heading-primary--underlined heading-primary--underlined-teal u-center-text u-margin-bottom-medium"
      >
        Official Newsletters
      </h1>
      <div class="newsletter__list">
        <div
          class="newsletter-box row"
          *ngFor="let newsletter of newsletters"
        >
          <h3
            *ngIf="width <= 600"
            class="heading-tertiary newsletter-box__heading u-margin-bottom-small"
          >
            {{ newsletter.month }}
          </h3>
          <div class="newsletter-box__left">
            <img
              (click)="openModal(newsletter)"
              attr.data-target="{{ newsletter.modalTarget }}"
              aria-haspopup="true"
              class="newsletter-box__thumbnail"
              src="{{ newsletter.thumbnail }}"
              alt="{{ newsletter.thumbnailAlt }}"
            />
          </div>
          <div class="newsletter-box__right">
            <h3
              *ngIf="width > 600"
              class="heading-tertiary newsletter-box__heading u-margin-bottom-small"
            >
              {{ newsletter.month }}
            </h3>
            <div class="newsletter-box__right__content">
              <p class="paragraph paragraph--big newsletter-box__text">
                {{ newsletter.description }}
              </p>
            </div>
            <div class="newsletter-box__right__action-row">
              <a
                target="_blank"
                href="{{ newsletter.url }}"
                class="btn-text btn-text--blue newsletter-box__link"
              >View</a
              >
              <a
                target="_blank"
                download
                href="{{ newsletter.url }}"
                class="btn-text btn-text--primary newsletter-box__link"
              >Download</a
              >
            </div>
          </div>

          <div class="newsletter-box__bottom">
            <svg
              viewBox="0 0 500 150"
              preserveAspectRatio="none"
              style="height: 100%; width: 100%"
            >
              <path
                d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #07a498"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngFor="let newsletter of newsletters"
      class="modal"
      id="{{ newsletter.modalTarget }}"
    >
      <div class="modal-background" (click)="closeModal(newsletter)"></div>
      <div class="modal-content">
        <figure class="figure">
          <img
            src="{{ newsletter.thumbnail }}"
            alt="{{ newsletter.thumbnailAlt }}"
          />
          <figcaption class="figure__caption">
            {{ newsletter.thumbnailAlt }}
          </figcaption>
        </figure>
      </div>
      <button
        class="modal-close is-large"
        (click)="closeModal(newsletter)"
        aria-label="close"
      ></button>
    </div>
  </section>
  <section class="section-papers">
    <h2
      class="heading-tertiary u-is-black-color u-center-text u-margin-bottom-medium"
    >
      Papers
    </h2>
    <div class="paper" *ngFor="let paper of papers">
      <p class="paper__title">
        <a href="{{ paper.link }}" target="_blank" *ngIf="paper.link"
          >{{ paper.title }}
        </a>
        <span *ngIf="!paper.link">{{ paper.title }} </span>
      </p>
      <p class="paper__authors"><b>Authors:</b>&nbsp;{{ paper.authors }}</p>
      <p class="paper__year" *ngIf="paper.year">
        <b>Year of publication:</b>&nbsp;{{ paper.yearOfPublication }}
      </p>
      <p class="paper__publisher" *ngIf="paper.publisher">
        <b>Publisher:</b>&nbsp;{{ paper.publisher }}
      </p>
      <p class="paragraph paragraph--big paper__summary" *ngIf="paper.summary">
        {{ paper.showMore ? paper.summary : (paper.summary | slice: 0:300)
        }}<span *ngIf="!paper.showMore && paper.summary.length > 300">...</span
        >&nbsp;
        <a
          href="javascript:;"
          *ngIf="!paper.showMore && paper.summary.length > 300"
          (click)="paper.showMore = true"
          >Show More</a
        >
        <a
          href="javascript:;"
          *ngIf="paper.showMore"
          (click)="paper.showMore = false"
          >Show Less</a
        >
      </p>
    </div>
  </section>
</div>
