<div
  class="wrapper-nav"
  (window:resize)="onResize()"
  (window:scroll)="onScroll()"
>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item logo" href="/">
        <img
          *ngIf="logoIsVisible"
          src="../../assets/res/images/logo_hubcap.webp"
          alt="Hubcap Logo"
          class="navbar-item__logo"
          default="../../assets/res/images/logo_hubcap.png"
        />
      </a>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarDropdown"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <!-- Add is-active to show on mobile -->
    <div id="navbarDropdown" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" routerLink="/" routerLinkActive="active">Home</a>

        <a class="navbar-item" routerLink="success-stories" (click)="blur($event)">Success Stories</a>

        <a
          class="navbar-item"
          routerLink="digital-innovation-hubs"
          routerLinkActive="active"
        >Digital Innovation Hubs</a
        >
<!--        <a class="navbar-item" routerLink="services" routerLinkActive="active"-->
<!--          >Services</a-->
<!--        >-->
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Platform</a>
            <div class="navbar-dropdown">
              <a
                class="navbar-item"
                routerLink="gitworks"
                (click)="blur($event)"
                >
                Transition to GitWorks
              </a>
              <a
                class="navbar-item"
                href="https://hubcap-portal.eng.it/welcome/"
                target="_blank"
                routerLinkActive="active"
                >Platform <mat-icon class="navbar-item__icon">launch</mat-icon></a
              >
            </div>
        </div>
        <!-- <a
          class="navbar-item"
          href=""
          target="_blank"
          routerLinkActive="active"
        >
          Success Stories
          <mat-icon class="navbar-item__icon">launch</mat-icon>
        </a> -->


        <a class="navbar-item" routerLink="latestnews" routerLinkActive="active"
        >Latest News</a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">About</a>
          <div class="navbar-dropdown is-right">
            <a
              class="navbar-item"
              routerLink="project-details"
              (click)="blur($event)"
              >About Us</a
            >
            <a class="navbar-item" routerLink="outputs" (click)="blur($event)"
              >Project Outputs</a
            >
            <a class="navbar-item" routerLink="ecosystem" (click)="blur($event)">
              HUBCAP Ecosystem
            </a>
            <a
              class="navbar-item"
              routerLink="programme"
              (click)="blur($event)"
            >
              HUBCAP Programme
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
