<div class="content" (window:resize)="onResize()">
  <section class="welcome">
    <div class="welcome__content">
      <h1
        *ngIf="width > 1300"
        class="u-slide-in-bottom heading-primary has-text-centered"
      >
        Welcome to HUBCAPLOOOK!
      </h1>
      <h1
        *ngIf="width <= 1300"
        class="u-slide-in-bottom heading-primary has-text-centered"
      >
        Join us in the Cyber-Physical Systems revolution!
      </h1>
      <p class="u-slide-in-left paragraph paragraph--big">
        <span *ngIf="width > 1300"
          >Join us in the Cyber-Physical Systems revolution!</span
        >
        HUBCAP has a € 3 Million equity-free fund for SMEs to experiment and
        innovate with MBD CPS solutions and technologies.
      </p>
      <p class="u-slide-in-right paragraph paragraph--big">
        HUBCAP is your one-stop-shop for embracing digital innovation using
        model-based design technology for Cyber-Physical Systems. Get the tools
        and resources you need to scale ideas and grow your business. Source
        potential partners for your application experiment, with an array of
        competences - both technological and business related.
      </p>
    </div>
  </section>

  <section class="jumbotron u-justify-text">
    <h2 class="heading-secondary jumbotron__heading has-text-centered">
      <span class="blue" #blue>JOIN.</span><br />
      <span class="green" #green> CO-CREATE.</span><br /><span class="red" #red>
        GO TO MARKET.</span
      >
    </h2>
    <p class="paragraph paragraph--big jumbotron__column__single" *ngIf="!DIH">
      HUBCAP is an exclusive network of Digital Innovation Hubs with a goal to
      bring new microelectronics-enabled products, processes, and business
      models to life. We provide access to funding opportunities, cutting-edge
      tech and business support services.
    </p>
    <div
      class="jumbotron__columns"
      *ngIf="
        DIH &&
        [
          'Austria',
          'United Kingdom',
          'Italy',
          'Romania',
          'Sweden',
          'Germany',
          'Denmark'
        ].includes(DIH)
      "
    >
      <div class="jumbotron__column">
        <p class="paragraph paragraph--big">
          HUBCAP is an exclusive network of Digital Innovation Hubs with a goal
          to bring new microelectronics-enabled products, processes, and
          business models to life. We provide access to funding opportunities,
          cutting-edge tech and business support services.
        </p>
      </div>
      <div class="jumbotron__column">
        <p class="paragraph paragraph--big">
          Your closest DIH is in
          {{ DIH === "United Kingdom" ? "the" : "" }}
          <span
            class="flag-icon"
            [ngClass]="{
              'flag-icon-gb': DIH === 'United Kingdom',
              'flag-icon-it': DIH === 'Italy',
              'flag-icon-se': DIH === 'Sweden',
              'flag-icon-at': DIH === 'Austria',
              'flag-icon-dk': DIH === 'Denmark',
              'flag-icon-de': DIH === 'Germany',
              'flag-icon-ro': DIH === 'Romania'
            }"
          ></span
          >&nbsp; <span class="bold">{{ DIH }}</span
          >.<br />
          Read more
          <a
            href="/digital-innovation-hubs#{{
              DIH === 'United Kingdom' ? 'UK' : DIH
            }}"
            >here</a
          >
          or get in touch at:
        </p>
        <p class="paragraph paragraph--big" *ngIf="DIH === 'Austria'">
          <span class="hub__info-line">
            <i class="fas fa-at u-is-black-color"></i>
            <a href="mailto:info@v2c2.at">info@v2c2.at</a>
          </span>
        </p>
        <p class="paragraph paragraph--big" *ngIf="DIH === 'Denmark'">
          <span class="hub__info-line">
            <i class="fas fa-at u-is-black-color"></i>
            <a href="mailto:hdm@eng.au.dk">hdm@eng.au.dk</a>
          </span>
        </p>
        <p class="paragraph paragraph--big" *ngIf="DIH === 'Germany'">
          <span class="hub__info-line">
            <i class="fas fa-at u-is-black-color"></i>
            <a href="mailto:pfeifer@fortiss.org">pfeifer@fortiss.org</a>
          </span>
        </p>
        <p class="paragraph paragraph--big" *ngIf="DIH === 'Sweden'">
          <span class="hub__info-line">
            <i class="fas fa-at u-is-black-color"></i>
            <a href="mailto:fasplund@kth.se">fasplund@kth.se</a>
          </span>
        </p>
        <p class="paragraph paragraph--big" *ngIf="DIH === 'Italy'">
          <span class="hub__info-line">
            <i class="fas fa-at u-is-black-color"></i>
            <span class="bold">Politecnico di Milano</span> -
            <a href="mailto:claudio.sassanelli@polimi.it" target="_blank"
              >claudio.sassanelli@polimi.it</a
            >
            | <span class="bold">FBK</span> -
            <a href="mailto:stefano.tonetta@fbk.eu">stefano.tonetta@fbk.eu</a>
          </span>
        </p>
        <p class="paragraph paragraph--big" *ngIf="DIH === 'Romania'">
          <span class="hub__info-line">
            <i class="fas fa-at u-is-black-color"></i>
            <a href="mailto:bogdan.pirvu@ulbsibiu.ro"
              >bogdan.pirvu@ulbsibiu.ro</a
            >
          </span>
        </p>
        <p class="paragraph paragraph--big" *ngIf="DIH === 'United Kingdom'">
          <span class="hub__info-line">
            <i class="fas fa-at u-is-black-color"></i>
            <a href="mailto:info@hubcap.eu">info@hubcap.eu</a>
          </span>
        </p>
      </div>
    </div>
    <video
      class="welcome__video"
      poster="../../assets/res/videos/Hubcap_thumbnail_LONG.jpg"
      controls
    >
      <source
        src="../../assets/res/videos/HUBCAP_MAIN_LONG_SUBS.mp4"
        type="video/mp4"
      />
      <!-- <track
        label="English"
        kind="subtitles"
        srclang="en"
        src="../../assets/res/videos/hubcap_long_main_subtitles.vtt"
        default
      /> -->
      Your browser does not support embedded videos.
    </video>

    <!-- <div class="u-center-text u-is-black-color u-margin-top-medium">
      <h2 class="heading-secondary">Success Stories</h2>
    </div>

    <swiper [config]="configStories" class="swiper-stories">
      <div class="success-stories-slide" *ngFor="let story of stories">
        <div class="success-stories-slide__content">
          <h4
            class="success-stories-slide__content__title subtitle u-center-text"
          >
            {{ story.title }}
          </h4>
          <p class="paragraph u-text-left">
            {{ story.sections[0].paragraphs[0] | slice: 0:150
            }}<span
              *ngIf="
                story.sections[0].paragraphs[0] &&
                story.sections[0].paragraphs[0].length > 150
              "
              >...</span
            >
          </p>
          <a
            class="success-stories-slide__content__link"
            href="/success-stories/{{ story.urlName }}"
            routerLinkActive="active"
            >Read More</a
          >
        </div>
      </div>
    </swiper> -->
  </section>

  <section class="divider" id="first"></section>

  <section class="info">
    <!--JOIN here-->

    <div class="paragraphs row">
      <div class="col-1-of-3">
        <h2 class="subtitle">How We Help</h2>
        <p class="paragraph paragraph--big">
          <span class="bold">HUBCAP</span> is a one-stop-shop to help your
          European SME – whatever your sector and wherever you are situated – to
          undertake digital innovation using new model-based design technology
          for Cyber- Physical Systems.
        </p>

        <p class="paragraph paragraph--big">
          To learn more about what we offer see our
          <a
            *ngIf="browser !== 'Firefox'"
            [routerLink]="['/services']"
            routerLinkActive="active"
            >Services</a
          >
          <a *ngIf="browser === 'Firefox'" href="/services">Services</a> page.
        </p>
      </div>

      <div class="col-1-of-3">
        <h2 class="subtitle">What Are CPS</h2>
        <p class="paragraph paragraph--big">
          Cyber-Physical Systems are systems that link the physical world (e.g.,
          through sensors or actuators) with the digital world of software
          systems and communications technology. A CPS will often include
          components from many different providers, so your business may already
          be contributing towards CPSs. <br />
          <a
            *ngIf="browser !== 'Firefox'"
            [routerLink]="['/faq']"
            routerLinkActive="active"
            >Learn More</a
          >
          <a *ngIf="browser === 'Firefox'" href="/faq">Learn More</a>
        </p>
      </div>
      <div class="col-1-of-3">
        <h2 class="subtitle">Model-Based Design</h2>
        <p class="paragraph paragraph--big">
          Model-Based Design (MBD) is a method to address the design of complex
          systems with models. It is quite standard in software engineering and
          is becoming more and more relevant in system engineering as well.<br />
          <a
            *ngIf="browser !== 'Firefox'"
            [routerLink]="['/faq']"
            routerLinkActive="active"
            >Learn More</a
          >
          <a *ngIf="browser === 'Firefox'" href="/faq">Learn More</a>
        </p>
      </div>
    </div>
  </section>

  <section class="divider" id="second"></section>

  <section class="open-calls">
    <!-- <h2 class="title is-2">Open Calls</h2> -->
    <swiper [config]="config">
      <div class="slide h-100" *ngFor="let slide of slides; let i = index">
        <!-- <img src="{{ slide.imageURL }}" class="slide__bg" alt="" /> -->
        <img
          src="{{ slide.imageURL }}"
          class="slide__bg"
          default="{{ slide.backupImageURL }}"
          alt="{{ slide.heading }}"
        />
        <div class="slide__content">
          <div class="box">
            <h3 class="heading-tertiary">{{ slide.heading }}</h3>
            <p class="paragraph" *ngFor="let line of slide.lines">
              {{ line }}
            </p>
          </div>
          <button
            class="button button--mini button--download"
            (click)="applyToCall(i)"
          >
            {{ slide.buttonText }}
          </button>

          <h3
            *ngIf="slide.heading.includes('#1')"
            class="small has-text-centered"
          >
            Applications now open | Closing on 4 November 2021
          </h3>
          <h3
            *ngIf="slide.heading.includes('#2')"
            class="small has-text-centered"
          >
            Opening on 1 November 2021
          </h3>
          <h3
            *ngIf="slide.heading.includes('#3')"
            class="small has-text-centered"
          >
            Applications now closed
          </h3>
        </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </swiper>
  </section>

  <section class="divider" id="third"></section>

  <section
    class="services"
    (window:resize)="onResize()"
    (window:scroll)="checkPosition()"
  >
    <h2 class="services__heading heading-secondary">Our Services</h2>
    <div class="row">
      <div class="col-1-of-3 service">
        <div class="u-center-text">
          <i class="service__icon icon-basic-spread-text-bookmark"></i>
        </div>

        <div class="service__content">
          <h3 class="heading-tertiary service__content__title">Knowledge</h3>
          <p class="paragraph paragraph--big">
            From awareness-raising to training and skills development for
            model-based CPS engineering. We will be offering information events,
            seminars, and training courses on the HUBCAP technologies and tools.
          </p>
          <a
            *ngIf="browser !== 'Firefox'"
            [routerLink]="['/services']"
            routerLinkActive="active"
            >Learn More</a
          >
          <a *ngIf="browser === 'Firefox'" href="/services">Learn More</a>
        </div>
      </div>
      <div class="col-1-of-3 service">
        <div class="u-center-text">
          <i class="service__icon icon-basic-laptop"></i>
        </div>

        <div class="service__content">
          <h3 class="heading-tertiary service__content__title">Technology</h3>
          <p class="paragraph paragraph--big">
            These enable hands-on experience on HUBCAP technologies, provided
            through support for SMEs engaged in Open Call (OC) experiments and
            by organising practical labs such as hackathons for the rapid
            prototyping of use cases. We can help match your SME with the right
            expertise and tools for model-based design, verification,
            validation, and safety analysis.
          </p>
          <a
            *ngIf="browser !== 'Firefox'"
            [routerLink]="['/services']"
            routerLinkActive="active"
            >Learn More</a
          >
          <a *ngIf="browser === 'Firefox'" href="/services">Learn More</a>
        </div>
      </div>
      <div class="col-1-of-3 service">
        <div class="u-center-text">
          <i class="service__icon icon-elaboration-mail-check"></i>
        </div>

        <div class="service__content">
          <h3 class="heading-tertiary service__content__title">
            Fast Prototyping and Validation
          </h3>
          <p class="paragraph paragraph--big">
            Sandboxed services will be implemented in our HUBCAP collaboration
            platform and will provide functionalities such as CPS
            multi-modelling, co-simulation, monitoring and analytics,
            composition and orchestration, enhanced with protection mechanisms
            to ensure the security and privacy of the data exchanged within the
            collaboration platform.
          </p>
          <a
            *ngIf="browser !== 'Firefox'"
            [routerLink]="['/services']"
            routerLinkActive="active"
            >Learn More</a
          >
          <a *ngIf="browser === 'Firefox'" href="/services">Learn More</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-1-of-2 service">
        <div class="u-center-text">
          <i class="service__icon icon-basic-share"></i>
        </div>

        <div class="service__content">
          <h3 class="heading-tertiary service__content__title">
            Ecosystem Building
          </h3>
          <p class="paragraph paragraph--big">
            These services will help you reach out to stakeholders, businesses,
            government and expertise in the regions round our Digital Hubs, to
            help needs and demands with offers and opportunities.
          </p>
          <a
            *ngIf="browser !== 'Firefox'"
            [routerLink]="['/services']"
            routerLinkActive="active"
            >Learn More</a
          >
          <a *ngIf="browser === 'Firefox'" href="/services">Learn More</a>
        </div>
      </div>
      <div class="col-1-of-2 service">
        <div class="u-center-text">
          <i class="service__icon icon-ecommerce-euro"></i>
        </div>

        <div class="service__content">
          <h3 class="heading-tertiary service__content__title">
            Access to Market and Funding
          </h3>
          <p class="paragraph paragraph--big">
            Your SME get help to access funding opportunities for your
            development projects. We will share information about different
            funding opportunities involving companies, funding agencies and
            investors, or potential research and innovation projects. Events are
            organised to share information about possible public or private
            funding opportunities, available from both within the DIH region and
            nationally/internationally, e.g. in the HUBCAP DIH network.
          </p>
          <a
            *ngIf="browser !== 'Firefox'"
            [routerLink]="['/services']"
            routerLinkActive="active"
            >Learn More</a
          >
          <a *ngIf="browser === 'Firefox'" href="/services">Learn More</a>
        </div>
      </div>
    </div>
  </section>

  <section class="counters">
    <div class="row" #counters>
      <div class="col-1-of-4 box u-slide-in-bottom">
        <h2 class="subtitle has-text-centered">Targeting</h2>
        <h1 class="heading-primary" id="smeCounter"></h1>
        <h2 class="subtitle has-text-centered">SMEs</h2>
      </div>
      <div class="col-1-of-4 box u-slide-in-bottom">
        <h2 class="subtitle has-text-centered">Targeting</h2>
        <h1 class="heading-primary" id="expCounter"></h1>
        <h2 class="subtitle has-text-centered">Experiments</h2>
      </div>
      <div class="col-1-of-4 box u-slide-in-bottom">
        <h2 class="subtitle has-text-centered">Targeting</h2>

        <h1 class="heading-primary" id="innCounter"></h1>
        <h2 class="subtitle has-text-centered">Innovations</h2>
      </div>
      <div class="col-1-of-4 box u-slide-in-bottom">
        <h2 class="subtitle has-text-centered">Awarding</h2>
        <h1 class="heading-primary" id="millCounter"></h1>
        <h2 class="subtitle has-text-centered">
          Million <mat-icon>euro_sign</mat-icon>
        </h2>
      </div>
    </div>
  </section>
</div>
