<div class="headings" (window:resize)="onResize()">
  <h2
    class="heading-secondary heading-secondary--small u-is-black-color u-center-text u-margin-bottom-small"
  >
    HUBCAP will create new opportunities for SMEs in the vast domains of
    Cyber-Physical Systems
  </h2>
  <h3 class="subtitle subtitle--bold u-center-text u-margin-bottom-medium">
    Are you an SME wanting to adopt and experiment with Model-Based Design (MBD)
    tools? Form a consortium with a provider SME and apply to the HUBCAP
    Programme with innovative proposals to experiment & integrate the MBD tools
    in existing or new CPS solutions!
  </h3>
</div>

<div class="release__body u-justify-text">
  <h2 class="subtitle u-center-text-tab-port subtitle--bold u-is-blue-color">
    HUBCAP Call #2.1 - EXPERIMENT is open for applications until 4 March 2021 at
    17h00 (Brussels Time) CET!
  </h2>

  <p class="paragraph paragraph--big">
    <a routerLink="/"
      >HUBCAP (Digital Innovation Hubs and Collaborative Platform for
      Cyber-Physical Systems)</a
    >
    is the one-stop-shop for European SMEs wanting to embrace digital innovation
    using Model-Based Design (MBD) technology for Cyber-Physical Systems (CPS).
  </p>
  <p class="paragraph paragraph--big">
    Backed by the
    <a href="https://smartanythingeverywhere.eu/" target="_blank"
      >Smart Anything Everywhere</a
    >
    initiative, this EU funded project builds on seven Digital Innovation Hubs
    (DIHs) across Europe, each embedded in its regional innovation ecosystem,
    offering complementary technical expertise, experimental capabilities and
    specialist knowledge in CPS application domains.
  </p>

  <p class="paragraph paragraph--big">
    <b
      >HUBCAP will organise three series of Open Calls throughout 2020-2022,
      with €3,2 million committed in cascade funding for SMEs, namely: Call #1
      PULL, Call #2 EXPERIMENT and Call #3 INNOVATE.
    </b>
  </p>

  <p class="paragraph paragraph--big">
    HUBCAP has just launched the first open call of a new series, Call #2.1
    EXPERIMENT: we are currently looking for consortia of two SMEs, where MBD
    CPS users/adopters will work with MBD CPS providers and experiment with MBD
    tools to implement these digital solutions in their products/services. The
    goal is to stimulate non-digital SMEs towards the adoption of MBD CPS
    products & services by applying the HUBCAP ecosystems offers.
  </p>

  <h2 class="subtitle u-center-text-tab-port subtitle--bold u-is-blue-color">
    How does Call #2 EXPERIMENT work?
  </h2>

  <p class="paragraph paragraph--big">
    The new HUBCAP web platform hosts the tools you need to scale ideas and grow
    your business, supported by experts from our Digital Innovation Hubs (DIHs).
    SMEs are invited to source potential partners and create consortia composed
    of one user SME and one provider SME, to experiment with MBD either by
    integrating already existing MBD tools from the HUBCAP ecosystem offers or
    implementing these digital solutions in a new MBD CPS solution! Experiments
    should address a clear business need for the user/adopter SME in terms of
    improving the lifecycle process or design of CPS for example through visual
    prototyping or simulation of models.
  </p>

  <h2 class="subtitle u-center-text-tab-port subtitle--bold u-is-blue-color">
    What your consortium will receive?
  </h2>

  <ol class="release__body__list" type="1">
    <li class="release__body__list__item">
      Funding between €30k and €75k (per consortium)
    </li>
    <li class="release__body__list__item">
      Opportunities to connect with users and suppliers from various industries
    </li>
    <li class="release__body__list__item">
      Opportunities to access MBD CPS solutions and services provided by
      specialised entities
    </li>
    <li class="release__body__list__item">
      The chance to reach potential new customers
    </li>
    <li class="release__body__list__item">
      Access to a sustainable ecosystem of stakeholders active in multiple CPS
      domains
    </li>
    <li class="release__body__list__item">
      Access to support services and expertise from our DIHs
    </li>
  </ol>
  <div class="images">
    <img
      class="release__body__image"
      (click)="openModal('social')"
      data-target="social"
      aria-haspopup="true"
      src="../../assets/res/files/HUBCAP_OC2-1EXPERIMENT/HUBCAP_2-1_EXPERIMENT_Rectangle_Funding.jpg"
      alt=""
    />

    <div class="release__body__icon-container u-center-text">
      <img
        src="../../assets/res/images/experiment.png"
        alt=""
        class="release__body__icon"
      />
      <h3 class="heading-tertiary u-is-black-color">Call #2.1 EXPERIMENT</h3>
    </div>
  </div>
  <div class="modal" id="social">
    <div class="modal-background" (click)="closeModal('social')"></div>
    <div class="modal-content">
      <figure class="figure">
        <img
          src="../../assets/res/files/HUBCAP_OC2-1EXPERIMENT/HUBCAP_2-1_EXPERIMENT_Rectangle_Funding.jpg"
          alt=""
        />
      </figure>
    </div>
    <button
      class="modal-close is-large"
      (click)="closeModal('social')"
      aria-label="close"
    ></button>
  </div>
</div>
