<div class="container">

    <div class="container__top">
      <h1 class="heading-primary heading-primary--underlined heading-primary--underlined-teal has-text-centered">
        Digital Twin Accelerator
      </h1>
      <h2 class="subtitle u-center-text subtitle--announcement">
        Grow your organisation’s Digital Twin Capability
      </h2>
    </div>
    <div class="info">
      <div class="info-section">
        <p class="paragraph--big">
          As products and systems become contain ever more digital technology, our ability to gather data from
          them grows, and Digital Twins are attracting massive interest as a way of leveraging this opportunity.
          But what is a Digital Twin? Can your business benefit from this technology, and what is the route to
          doing so?
        </p>
        <br>
        <p class="paragraph--big">
          A Digital Twin is a virtual representation of a product or system. Unlike a “write once” design model,
          however, a Digital twin is kept up to date with information about the real system’s state, using data
          gathered from sensors and other sources. This synchrony between the virtual and the real world means
          that the twin can be used to identify potential failures and defects, do predictive “what-if” analysis
          on possible future changes, and even improve the real system’s performance directly.
        </p>
        <br>
        <p class="paragraph--big">
          The Digital Twin Accelerator is a service that helps you access the expertise of four international
          Digital Innovation Hubs and their networks of hundreds of specialists to demystify Digital Twin
          technology. We can help you learn the basics of Digital Twins through short briefings for business
          leaders; explore the opportunities for your business to develop the knowledge and skills you need to
          understand the opportunities and barriers to exploiting Digital Twin technology in your sector; and to
          help you apply that knowledge and skill to exploit the models and data that you have available to provide
          real engineering insight. Our goal is to equip you to make informed decisions about how to develop and
          maintain DTs that give you the value that you expect.
        </p>
      </div>
    </div>
    <div class="container__top">
      <h1 class="heading-primary heading-primary--underlined heading-primary--underlined-teal has-text-centered">
        Services We Offer
      </h1>
    </div>
    <div class="info">
      <div class="info-section">
        <h2
          class="subtitle is-bold subtitle--bg-teal subtitle--colored has-text-centered">
          Digital Twins: Realising the Potential
        </h2>
        <p class="paragraph--big">
          This is a low cost or free 2-hour briefing for business leaders at CTO/CEO level, which demystifies the
          concept of the Digital Twin, provides you with a basis for discussing and reasoning about the opportunities
          and challenges that a business like yours could see in Digital Twin technology.
        </p>
        <br>
        <h2
          class="subtitle is-bold subtitle--bg-blue subtitle--colored has-text-centered">
          The Digital Twin Journey
        </h2>
        <p class="paragraph--big">
          This is a bespoke series of activities in which experts from the innovation hubs bring their experience
          to help a team from your business think through the potential of Digital Twi Technology for them.
          There are up to six steps in the journey, and you can go as far as you wish!
        </p>
      </div>
    </div>
    <section class="info">
      <div class="info-section">
        <mat-accordion class="faq__content">
          <mat-expansion-panel class="faq__content__question">
            <mat-expansion-panel-header class="faq__content__question__header">
              <mat-panel-title class="faq__content__question__title"
              ><span class="bold">Informal consultation</span> </mat-panel-title
              >
            </mat-expansion-panel-header>
            <div class="faq__content__question__body">
              <p class="paragraph paragraph--big">
                <!--              <span class="bold">A:</span>-->
                for a client business with one or more of the DIHs.
              </p>
              <p class="paragraph paragraph--big">

              </p>
            </div>
          </mat-expansion-panel>
          <hr class="faq__hr" />
          <mat-expansion-panel class="faq__content__question">
            <mat-expansion-panel-header class="faq__content__question__header">
              <mat-panel-title class="faq__content__question__title"
              ><span class="bold">Discovery Workshop</span> </mat-panel-title
              >
            </mat-expansion-panel-header>
            <div class="faq__content__question__body">
              <p class="paragraph paragraph--big">
                <span class="bold">A:</span>
                a 1-day workshop in which a team from a client company works alongside our experts to uncover the DT
                opportunity and challenges, potentially matching to expertise in our DIHs or other networked collaborators.
                This has two parts:
                i. Show & Tell – about the client business, needs challenges, and about DT technology and the services we offer

                ii. Deeper Dive -  discussion to agree potential project directions, reviewing existing capabilities, data, models, …
              </p>
              <p class="paragraph paragraph--big">

              </p>
            </div>
          </mat-expansion-panel>
          <hr class="faq__hr" />
          <mat-expansion-panel class="faq__content__question">
            <mat-expansion-panel-header class="faq__content__question__header">
              <mat-panel-title class="faq__content__question__title"
              ><span class="bold">Scoping a DT-based project</span> </mat-panel-title
              >
            </mat-expansion-panel-header>
            <div class="faq__content__question__body">
              <p class="paragraph paragraph--big">
                <span class="bold">A:</span>
                The goal here is not so much to develop a DT for a business but to equip a
                business with the knowledge, capabilities and access to expertise to apply DT technology as needed.
              </p>
              <p class="paragraph paragraph--big">

              </p>
            </div>
          </mat-expansion-panel>
          <hr class="faq__hr" />
          <mat-expansion-panel class="faq__content__question">
            <mat-expansion-panel-header class="faq__content__question__header">
              <mat-panel-title class="faq__content__question__title"
              ><span class="bold">Collaborative Project</span> </mat-panel-title
              >
            </mat-expansion-panel-header>
            <div class="faq__content__question__body">
              <p class="paragraph paragraph--big">
                <span class="bold">A:</span>
                Essentially a consultancy bringing in expertise from any of the participating DIHs on an as-needed basis.
              </p>
              <p class="paragraph paragraph--big">

              </p>
            </div>
          </mat-expansion-panel>
          <hr class="faq__hr" />
          <mat-expansion-panel class="faq__content__question">
            <mat-expansion-panel-header class="faq__content__question__header">
              <mat-panel-title class="faq__content__question__title"
              ><span class="bold">Project follow-up</span> </mat-panel-title
              >
            </mat-expansion-panel-header>
            <div class="faq__content__question__body">
              <p class="paragraph paragraph--big">
                <span class="bold">A:</span>
                Helping ensure ROI from a DT investment.
              </p>
              <p class="paragraph paragraph--big">

              </p>
            </div>
          </mat-expansion-panel>
          <hr class="faq__hr" />
        </mat-accordion>
      </div>
    </section>

</div>
